<header>
  <div class="container-fluid top">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @result_displayed %>
                      <li  class="nav-item" style="margin-left:50px;">
                      <%= link_to "結果",
                      {
                        :controller => "results",
                        :action => "index",
                        :category => "laptop",
                      },
                    :class => "nav-item nav-link active"%>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="search text-dark">
          <div class="search-contents">
          <h1>自分に一番のアイテムを検索しましょう。</h1>
          <%= form_tag({:controller => "questions", :action => "index"}, {method: :get}) do %>
            <div class="form-group">
              <%= label_tag 'category', 'カテゴリー' ,{:class => 'form-label'} %>
              <%= select_tag 'category', options_for_select([["パソコン","laptop"],["トイレットペーパー","toiletpaper"]],:selected=>"laptop"), {:class => "form-control"} %>
              <%# <%= select_tag 'category', options_for_select([["パソコン","laptop"]],:selected=>"laptop"), {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= submit_tag "探す", :name => nil, :class => "btn-primary btn-lg form-button"%>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
<div class="container">
  <div class="row row-1">
    <div class="col-md-12">
      <h2>質問に答えよう</h2>
      <p>質問の結果に応じて、あなたに最適なアイテムを紹介します。</p>
      <p>最後まで答えることで、より正確な結果を得ることができます。</p>
      <button class="btn btn-primary mt-3" id="openModal">質問を続ける</button>
    </div>
  </div>
  <div class="row row-1">
    <div class="col-md-12">
      <h2>記事一覧</h2>
    </div>
  </div>
  <% @articles.each do |article| %>
  <div class="row row-1">
    <div class="col-md-4">
      <img class="img-fluid" src="<%= article.image %>"  alt="Responsive image">
    </div>
    <div class="col-md-8">
      <h3><%= link_to article.title, article %></h3>
      <p><%= article.preview %></p>
    </div>
  </div>
  <% end %>
  </div>
</div>
</main>

<!-- モーダルエリアここから -->
<section id="modalArea" class="modalArea">
<div id="modalBg" class="modalBg">
    <div class="question-card bg-light">
        <div class="question-card-head bg-primary">
            <% if @next_question_id!=0 %>
              <h4><%= @question_num %>問目</h4>
            <% else %>
              <h4>終了</h4>
            <% end %>
        </div>
        <div class="question-card-graph">
          <canvas id="myChart"></canvas>
          <input id='c_question_num' name='c_question_num' type='hidden' value='<%=(@question_num - 1)%>'>
          <input id='r_question_num' name='r_question_num' type='hidden' value='<%=(@max_question_num - @question_num + 1)%>'>
          <% if @next_question_id!=0 %>
            <p><%= number_to_percentage(100*(@question_num-1)/@max_question_num,:precision => 0) %></p>
          <% else %>
            <p style="left:43%;"><%= number_to_percentage(100*(@question_num-1)/@max_question_num,:precision => 0) %></p>
          <% end %>
        </div>
        <div class="question-card-content text-dark mx-auto">
          <% if @next_question_id!=0 %>
            <p><%= @question.content %></p>
            <% @options.each do |option|%>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                  <%= link_to option.content,
                    {
                      :controller => "results",
                      :action => "create",
                      :user_id => @user_id,
                      :category => @category,
                      :question_id => option.question_id,
                      :question_num => @question_num,
                      :option_id => option.option_id,
                      :next_question_id => option.next_question_id,
                    },
                  :class => "btn btn-outline-secondary btn-block mx-auto question-card-button" %>
                </div>
              </div>
            <% end %>
            <%= link_to "途中結果を見る",
            {
              :controller => "results",
              :action => "index",
              :category => @category,
              :question_finish => false,
            },
            :class => "btn btn-primary question-btn-right"%>
          <% else %>
            <p>おつかれさまでした！</p>
            <%= link_to "結果を見る",
                    {
                      :controller => "results",
                      :action => "index",
                      :category => @category,
                      :question_finish => true,
                    },
                  :class => "btn btn-outline-secondary btn-block mx-auto question-card-button",
                  :id => "result" %>
          <% end %>
        </div>
        <% if @question_num > 1 %>
              <%= link_to "＜",
              {
                :controller => "questions",
                :action => "index",
                :category => @category,
                :user_id => @user_id,
                :question_num => (@question_num - 2),
                :next_question_id => @before_question_id
              },
              :class => "question-float-btn"%>
        <% end %>
        <div id="closeModal" class="closeModal">
        ×
        </div>
    </div>
</div>
</section>
<!-- モーダルエリアここまで -->

<!-- ↓body閉じタグ直前でjQueryを読み込む -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- ↓ページが読み込まれたと同時にモーダルエリアを起動する -->
<script type="text/javascript">
  window.onload = $('#modalArea').fadeIn(0);
</script>
