<div class="container">
<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="table-responsive">
  <table class="table table-bordered table-condensed  table-sm">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.item_id %></td>
          <td><%= link_to movie.title, movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Movie', new_movie_path, :class => "btn btn-primary" %>
<br><br>
</div>
