<div class="container">
<p id="notice"><%= notice %></p>

<h1>
  <%= @movie.title %>(ID:<%= @movie.item_id %>)
</h1>

<img src="<%= @movie.image %>" class="image-fluid">

<br>
<br>
<p>
  <strong>あらすじ</strong>
</p>

<p>
  <%= @movie.outline %>
</p>

<br>
<p>
  <strong>監督</strong>
</p>

<p>
  <%= @movie.director %>
</p>

<br>
<p>
  <strong>出演者</strong>
</p>

<p>
  <%= @movie.performer %>
</p>

<br>
<p>
  <strong>公開年: </strong>
  <%= @movie.year %>
</p>

<br>
<p>
  <strong>予告動画</strong>
</p>

<p>

  <iframe width="560" height="315" src="<%= @movie.preview %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<br>
<p>
  <strong>関連記事</strong>
</p>

<p>
  <%= @movie.article %>
</p>

<br>
<p>
  <strong>関連動画</strong>
</p>

<p>
  <%= @movie.movie %>
</p>
<br>

<p>
  <strong>タグ</strong>
</p>
<ul>
  <% Tag.where(item_id: @movie.item_id).all.each do |tag| %>
    <li><%= link_to tag.name, tag %></li>
  <% end %>
</ul>

<br>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<br>
<br>
</div>
