<p>Option1 : <%= @option1 %></p>
<p>Option2 : <%= @option2 %></p>
<p>Option3 : <%= @option3 %></p>
<p>OptionCount : <%= @options.count %></p>


<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-option">
    <input type="checkbox" autocomplete="off"> アクティブ
  </label>

  <label class="btn btn-primary btn-option">
    <input type="checkbox" autocomplete="off"> チェック
  </label>

  <label class="btn btn-primary btn-option">
    <input type="checkbox" autocomplete="off"> チェック
　</label>
</div>

<%= link_to "次へ", {:controller => "home", :action => "category", :option1 => "false", :option2 => "true", :option3 => "false"}, :class => "btn btn-outline-primary btn-lg question-button" %>

