

<% content_for :title do %>
Sirius | 映画
<% end %>

<% content_for :description do %>
あなたの気分に合わせておすすめの映画を紹介します。気になるタグをクリックして、あなたにとって最高の映画を見つけましょう。
<% end %>

<% content_for :background_color do %>
bg-darkgrey text-light
<% end %>

<div id="app">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none mt-3">
                <a class="navbar-brand font-weight-bold" href="#">Sirius</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ホーム <span class="sr-only">(現位置)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">リンク</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ドロップダウン
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">メニュー1</a>
                        <a class="dropdown-item" href="#">メニュー2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">その他</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
                    <button type="submit" class="btn btn-outline-light my-2 my-sm-0">検索</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>CheckedTags</p>
            <p>{{checkedTags}}</p>
            <p>PushedTags</p>
            <p>{{pushedTags}}</p>
            <h3>Tag result</h3>
            <div class="movie_tags">
                <ul>
                    <li v-for="tag in tagList" v-on:click="setPushedTag(tag)"  v-bind:class="{active: isActive}">{{ tag }}</li>
                </ul>
            </div>
            <% if false%>
                <div class="movie_tags mt-5">
                <% @tags.each do |tag| %>
                    <input type="checkbox" id="<%= tag %>" value="<%= tag %>" v-model="checkedTags" />
                    <label for="<%= tag %>"><%= tag %></label>
                <% end %>
                </div>
            <% end %>

            <h3>Movie result</h3>
            <ul>
                <li v-for="movie in movieList">{{ movie.title }}</li>
            </ul>

            <%# <div class="movie_tags mt-5">
                <input type="checkbox" v-bind:id="tag.id" v-bind:value="tag.name" v-for="tag in tagList" v-model="checkedTags" >
                <label v-bind:for="tag.id" v-for="tag in tagList" >{{tag.name}}</label>
            </div> %>
        </div>
    </div>
    <h2>テスト</h2>
    <div class="row mt-5">

        <% @movies.each do |movie| %>
        <div class="col-md-2">
            <img class="img-fluid" src="<%= movie.image%>" v-on:click="setMovieInfo(<%= movie.id %>)">
        </div>
        <% end %>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h3 class="mb-0 pb-0">{{movieInfo.title}}</h3>
            <p>{{movieInfo.year}}</p>
            <iframe width="560" height="315" :src="movieInfo.preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>{{movieInfo.outline}} </p>
            <br>
            <p>監督: {{movieInfo.director}} </p>
            <p>出演: {{movieInfo.performer}} </p>
        </div>
    </div>

</div>
</div>

<%= javascript_pack_tag 'test' %>
