<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>カテゴリーで探す</h2>
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/category-laptop.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">ノートパソコン</h4>
          <p class="card-text">値段、目的、使い方に合わせてあなたに最適のパソコンを紹介します。</p>
          <a href="#" class="btn btn-primary">はじめる</a>
        </div>
      </div>
      <h2>目的で探す</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/laptop-outside.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">外出先用のパソコンを探す</h4>
              <p class="card-text">喫茶店や外出先に利用しやすいパソコンを紹介します。</p>
              <a href="#" class="btn btn-primary">はじめる</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/laptop-work.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">仕事用のパソコンを探す</h4>
              <p class="card-text">ビジネスとして利用しやすいパソコンを紹介します。</p>
              <a href="#" class="btn btn-primary">はじめる</a>
            </div>
          </div>
        </div>
      </div>
      <h2>あなたへのおすすめ</h2>
      <div class="slider">
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
      </div>

      <h2>人気のアイテム</h2>
      <div class="slider">
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
      </div>

      <h2>注目のアイテム</h2>
      <div class="slider">
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
        <%= image_tag '/laptop-outside.jpg' %>
        <%= image_tag '/laptop-work.jpg' %>
      </div>

    </div>
    <div class="col-md-4">
      <h2>最新の記事</h2>
    </div>
  </div>
</div>
<%# <div class="main top-main">
  <div class="top-contents">
    <h2>Leading the best item for you</h2>
    <p>あなたにとって一番ベストな選択を</p>
    <div class="container category">
      <div class="row">
        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-6 category-item">
          <div class="icon-circle">
            <i class="fas fa-laptop fa-stack-1x"></i>
          </div>
          <h4>パソコンの診断</h4>
          <p>パソコン診断では、あなたの使用用途に合わせて最適なパソコンを提案します。</p> %>
          <%# <%= link_to "パソコンの診断をはじめる", {:controller => "questions", :action => "index", :category => "laptop" }, :class => "btn btn-outline-light btn-block" %>
        <%# </div> %>
        <%# <div class="col-sm-12 col-md-6 col-lg-6"> %>
          <%# <div class="icon-circle">
            <i class="fas fa-mobile-alt fa-stack-1x"></i>
          </div>
          <h4>スマホの診断</h4>
          <p>スマホ診断では、あなたの使用用途に合わせて最適なスマホを提案します。</p> %>
          <%# <%= link_to "スマホの診断をはじめる", {:controller => "questions", :action => "index", :category => "laptop" }, :class => "btn btn-outline-light btn-block" %>
        <%# </div> %>
        <%# <div class="col-sm-12 col-md-3"></div>
      </div>
    </div>
  </div>
</div> %>
