<header>
  <div class="container-fluid top">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @result_displayed %>
                      <li  class="nav-item" style="margin-left:50px;">
                      <%= link_to "結果",
                      {
                        :controller => "results",
                        :action => "index",
                        :category => "pc",
                      },
                    :class => "nav-item nav-link active"%>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="search text-dark">
          <div class="search-contents">
          <h1>自分に一番のアイテムを検索しましょう。</h1>
          <%= form_tag({:controller => "questions", :action => "category"}, {method: :get}) do %>
            <div class="form-group">
              <%= label_tag 'category', 'カテゴリー' ,{:class => 'form-label'} %>
              <%= select_tag 'category', options_for_select([["パソコン","pc"],["デスクトップ","laptop"]],:selected=>"pc"), {:class => "form-control"} %>
              <%# <%= select_tag 'category', options_for_select([["パソコン","laptop"]],:selected=>"laptop"), {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= submit_tag "探す", :name => nil, :class => "btn-primary btn-lg form-button"%>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h2>パソコン用品</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-1" style="width: 20rem;">
            <img class="card-img-top" src="/category-laptop.jpg" alt="Card image cap">
            <div class="card-body">
              <h4>ノートパソコン</h4>
              <p>値段、目的、使い方に合わせてあなたに最適のノートパソコンを紹介いたします。</p>
              <%= link_to "はじめる",{
                :controller => "questions",
                :action => "category",
                :category => "laptop",
              }, :class => "btn btn-primary mt-2" %>
            </div>
          </div>
        </div>
        <% if false %>
        <div class="col-lg-6">
          <div class="card mb-1" style="width: 20rem;">
            <img class="card-img-top" src="/category-desktop.jpg" alt="Card image cap">
            <div class="card-body">
              <h4>デスクトップ</h4>
              <p>値段、目的、使い方に合わせてあなたに最適のデスクトップを紹介いたします。</p>
              <%= link_to "はじめる",{
                :controller => "questions",
                :action => "index",
                :category => "desktop",
              }, :class => "btn btn-primary mt-2" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row mb-5">
        <div class="col-md-12">
          <h3 class="mt-3">ノートパソコンとデスクトップでお悩みの方</h3>
          <div class="position-relative border rounded">
            <img src="/banner-001.jpg" class="img-fluid" style="height:200px;">
            <div class="text-on-image-center">
              <h3>あなたはどっち派？</h3>
              <p>ノートパソコン VS デスクトップ</p>
              <%= link_to "はじめる",{
                :controller => "questions",
                :action => "category",
                :category => "pc",
              }, :class => "btn btn-primary mt-2" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-12">
          <h2>人気のアイテム</h2>
          <div class="slider bg-white">
            <% @laptops.each do |laptop| %>
            <%= link_to image_tag("#{laptop["image"]}", class: "img-fluid"),
              {
                :controller => "items",
                :action => "show",
                :item_id => laptop["url"],
                :category => "laptop",
                :series => laptop["series"],
              } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-12">
          <h2>サイトの利用方法について</h2>
          <p>本サイトの利用方法については<a href="/articles/1">こちら</a>の記事からご覧ください。</p>
          <p>カテゴリーの選び方や結果の表示方法について記載されております。</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <h2>最新の記事</h2>
      <% @articles.each do |article| %>
      <div class="row row-1">
        <div class="col-md-4">
          <img class="img-fluid" src="<%= article.image %>"  alt="Responsive image">
        </div>
        <div class="col-md-8">
          <p class="article-text-overflow"><strong><%= link_to article.title, article %></strong><br><%= article.preview %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</main>
