<header>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md bg-darkblue border-bottom">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @user_id %>
                      <li  class="nav-item" style="margin-left:50px;">
                      <%= link_to "結果",
                      {
                        :controller => "results",
                        :action => "index",
                        :category => "laptop",
                      },
                    :class => "nav-item nav-link active"%>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
  </div>
</header>
<main>
<div class="container">
  <div class="row row-1">
    <div class="col-md-12">
      <h1>あなたの特徴とおすすめの商品を紹介します。</h1>
    </div>
  </div>
  <% if @question_finish == "false" %>
  <div class="row row-1">
    <div class="col-md-12">
      <h2>質問に答えよう</h2>
      <p>質問の結果に応じて、あなたに最適なアイテムを紹介します。</p>
      <p>ぜひ最後まで答えてみてください。</p>
      <%= link_to "質問に戻る", :back, :class => "btn btn-primary" %>
    </div>
  </div>
  <% end %>
  <div class="row result-contents">
    <div class="col-md-12">
      <h2>あなたの特徴と重要な観点</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="result-commentary">
        <h3 class="text-center">全体平均に対するあなたの特徴<br>
        <small style="font-size:0.6em;">※未回答の結果は表示されません。</small>
        </h3>
        <div class="result-chart-graph">
          <input id='c_1' name='c_1' type='hidden' value='値段'>
          <input id='c_2' name='c_2' type='hidden' value='スペック'>
          <input id='c_3' name='c_3' type='hidden' value='サイズ'>
          <input id='c_4' name='c_4' type='hidden' value='重量'>
          <input id='c_5' name='c_5' type='hidden' value='バッテリー時間'>
          <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @hash_rec_star["price"]%>'>
          <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @hash_rec_star["cpu_score"]%>'>
          <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @hash_rec_star["inch"]%>'>
          <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @hash_rec_star["weight"]%>'>
          <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @hash_rec_star["uptime"]%>'>
          <canvas id="resultChart"></canvas>
        </div>
        <div class="container-fluid">
          <div class="row row-1">
            <div class="col-lg-8 offset-lg-2 ">
              <div class="blue-box"></div><p class="text-left">平均</p>
            </div>
          </div>
          <div class="row row-1">
              <div class="col-lg-8 offset-lg-2 ">
                <div class="orange-box"></div><p class="text-left">あなたのおすすめ</p>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 ">
              <h3 class="text-center">おすすめ</h3>
              <p class="text-center">商品の平均に対して、あなたにおすすめな値を表示しています。</p>
              <table class="table table-hover table-condensed specm-table mt-5">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>平均</th>
                        <th>おすすめ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>値段</td>
                        <td>
                        <% if @hash_rec_avrg["price"] %>
                          <%= @hash_rec_avrg["price"].round(-3).to_i %>円
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td>
                        <% if @hash_difference_avrg["price"] %>
                          <%= @hash_difference_avrg["price"].round(-3).to_i %>円
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>スペック(CPU)</td>
                        <td>
                        <% if @hash_rec_avrg["cpu_score"] %>
                          <%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td>
                        <% if @hash_difference_avrg["cpu_score"] %>
                          <%= @hash_difference_avrg["cpu_score"].round(-2).to_i %>
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>サイズ</td>
                        <td>
                        <% if @hash_rec_avrg["inch"] %>
                          <%= @hash_rec_avrg["inch"].round(1) %> インチ
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td>
                        <% if @hash_difference_avrg["inch"] %>
                          <%= @hash_difference_avrg["inch"].round(1) %> インチ</td>
                        <% else %>
                          未回答
                        <% end %>
                    </tr>
                    <tr>
                        <td>重量</td>
                        <td>
                        <% if @hash_rec_avrg["weight"] %>
                          <%= @hash_rec_avrg["weight"].round(3) %> kg
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td>
                        <% if @hash_difference_avrg["weight"] %>
                          <%= @hash_difference_avrg["weight"].round(3) %> kg
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>バッテリー時間</td>
                        <td>
                        <% if @hash_rec_avrg["uptime"] %>
                          <%= @hash_rec_avrg["uptime"].round(1) %> 時間
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td>
                        <% if @hash_difference_avrg["uptime"] %>
                          <%= @hash_difference_avrg["uptime"].round(1) %> 時間
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <h3 class="text-center">重要度</h3>
              <p class="text-center">あなたにとって重要な観点が表示されています。</p>
              <table class="table table-hover table-condensed specm-table mt-5">
                <thead>
                  <tr>
                    <th>項目</th>
                    <th>重要度</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>値段</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["price"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>スペック(CPU)</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["cpu_score"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>サイズ</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["inch"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>重量</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["weight"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>バッテリー時間</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["uptime"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-1">
    <div class="col-md-12">
      <h2>あなたへのおすすめ商品</h2>
      <p>あなたの特徴にマッチした６つの商品を紹介しています。</p>
      <p>詳細ページにあなたにとってマッチしている理由が表示されます。</p>
      <p>気になった商品があった場合は、詳細ページをご覧ください。</p>
    </div>
  </div>
  <div class="row">
    <% for num in 0..(@item_display_num-1) do %>
      <div class="col-lg-2 col-md-4 col-sm-6 bg-white col-0 border row-1 items">
        <div class="item-ranking bg-darkorange">
          <%= "#" + "#{num+1}" %>
        </div>
        <div class="item-image">
          <%= link_to image_tag("#{@array_item[num].image}", class: "img-fluid"),
          {
            :controller => "items",
            :action => "show",
            :item_id => @array_item[num].item_id,
            :category => @category,
            :series => @array_item[num].series,
          } %>
        </div>
        <div class="item-explain">
          <p><span>￥<%= @array_item[num].price %></span></p>
          <p>メモリ:<%= @array_item[num].ram %>GB,
          SSD:<%= @array_item[num].ssd %>GB,
          バッテリー:<%= @array_item[num].uptime %>時間,
          重さ:<%= @array_item[num].weight %>kg<br>
          <%= link_to "詳細を見る",
            {
              :controller => "items",
              :action => "show",
              :item_id => @array_item[num].item_id,
              :category => @category,
              :series => @array_item[num].series,
            }
          %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
        <pre><p class="readMoreBtn w-75 text-center text-dark mx-auto"><i class="fas fa-sort-down" aria-hidden="true"></i>　もっと見る</p></pre>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-12">
      <h2>記事一覧</h2>
      <% @articles.each do |article| %>
      <div class="row row-1">
        <div class="col-md-4">
          <img class="img-fluid" src="<%= article.image %>"  alt="Responsive image">
        </div>
        <div class="col-md-8">
          <h3><%= link_to article.title, article %></h3>
          <p><%= article.preview %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</main>
