<h1>Results#index</h1>

<p> --------------------------------------------- </p>

<p>[Debug ] <%= @arr_question_id %></p>

<p> --------------------------------------------- </p>

<p>Question <%= @arr_question %> </p>
<p>Answer <%= @arr_answer %></p>

<p> --------------------------------------------- </p>

<p>[User-ID] <%= @user_id %></p>
<p>[UserType] <%= @pattern_pattern_id %></p>

<p> --------------------------------------------- </p>

<p>[Title] <%= @charasteristic_title %></p>
<p>[Body] <%= @charasteristic_body %></p>
<p>[あなたが重視する点1] <%= @charasteristic_chara_1_str %> : <%= @charasteristic_chara_1_val %></p>
<p>[あなたが重視する点2] <%= @charasteristic_chara_2_str %> : <%= @charasteristic_chara_2_val %></p>
<p>[あなたが重視する点3] <%= @charasteristic_chara_3_str %> : <%= @charasteristic_chara_3_val %></p>
<p>[あなたが重視する点4] <%= @charasteristic_chara_4_str %> : <%= @charasteristic_chara_4_val %></p>
<p>[あなたが重視する点5] <%= @charasteristic_chara_5_str %> : <%= @charasteristic_chara_5_val %></p>

<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>
<p>[おすすめNo1] <%= @charasteristic_item_1 %></p>
<p>[おすすめNo2] <%= @charasteristic_item_2 %></p>
<p>[おすすめNo3] <%= @charasteristic_item_3 %></p>
<p>[おすすめNo4] <%= @charasteristic_item_4 %></p>
<p>[おすすめNo5] <%= @charasteristic_item_5 %></p>

<p> --------------------------------------------- </p>
