<h1>Results#index</h1>
<p> --------------------------------------------- </p>

<p>[User-ID] ==> <%= @user_id %></p>
<p>[Record] ==> <%= @array_debug %></p>

<p>[Recommend Avrg] ==> <%= @hash_rec_avrg %></p>
<p>[All Avrg] ==> <%= @hash_difference_avrg %></p>
<p>[Record] ==> <%= @hash_rec_star %></p>
<p>[Debug] ==> <%= @hash_star %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>

<p>一覧：おすすめ品 ! </p>
<p>[おすすめNo1]<%= @array_item[0].series %> ====> <%= @array_item[0].name %></p>
<p>[おすすめNo2]<%= @array_item[1].series %> ====> <%= @array_item[1].name %></p>
<p>[おすすめNo3]<%= @array_item[2].series %> ====> <%= @array_item[2].name %></p>
<p>[おすすめNo4]<%= @array_item[3].series %> ====> <%= @array_item[3].name %></p>
<p>[おすすめNo5]<%= @array_item[4].series %> ====> <%= @array_item[4].name %></p>
<p>[おすすめNo6]<%= @array_item[5].series %> ====> <%= @array_item[5].name %></p>
