<h1>Results#index</h1>
<p> --------------------------------------------- </p>

<p>[User-ID] ==> <%= @user_id %></p>
<p>[Record] ==> <%= @debug_array %></p>

<p>[Recommend Avrg] ==> <%= @hash_rec_avrg %></p>
<p>[All Avrg] ==> <%= @hash_difference_avrg %></p>
<p>[Record] ==> <%= @hash_rec_star %></p>
<p>[Debug] ==> <%= @hash_star %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>
<p>基本項目 </p>

<p>[安さ] ★<%= @hash_rec_star["price"] %> : 平均の値段は、<%= @hash_difference_avrg["price"].round(-3).to_i %>円です。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>[スペック] ★<%= @hash_rec_star["cpu_score"] %> : 平均のスペックは、<%= @hash_difference_avrg["cpu_score"].round(-2).to_i %>です。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>[画面の大きさ] ★<%= @hash_rec_star["inch"] %> : 平均の画面の大きさは、<%= @hash_difference_avrg["inch"].round(1) %>インチです。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>[軽さ] ★<%= @hash_rec_star["weight"] %> : 平均の重量は、<%= @hash_difference_avrg["weight"].round(3) %>kgです。あなたにおすすめの重量は、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>[バッテリー時間] ★<%= @hash_rec_star["uptime"] %> : 平均のバッテリー時間は、<%= @hash_difference_avrg["uptime"].round(1) %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>
<p>Star ! </p>

<p>[あなたにとって重要な点1]<%= @hash_rec_star.keys[0] %> ====> <%= @hash_rec_star.values[0] %></p>
<p>[あなたにとって重要な点2]<%= @hash_rec_star.keys[1] %> ====> <%= @hash_rec_star.values[1] %></p>
<p>[あなたにとって重要な点3]<%= @hash_rec_star.keys[2] %> ====> <%= @hash_rec_star.values[2] %></p>
<p>[あなたにとって重要な点4]<%= @hash_rec_star.keys[3] %> ====> <%= @hash_rec_star.values[3] %></p>
<p>[あなたにとって重要な点5]<%= @hash_rec_star.keys[4] %> ====> <%= @hash_rec_star.values[4] %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>
<p>あなたにとって重要な点のおすすめのスペック </p>

<p>[<%= @hash_rec_star.keys[0] %> ] => <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %></p>
<p>[<%= @hash_rec_star.keys[1] %> ] => <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %></p>
<p>[<%= @hash_rec_star.keys[2] %> ] => <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %></p>
<p>[<%= @hash_rec_star.keys[3] %> ] => <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %></p>
<p>[<%= @hash_rec_star.keys[4] %> ] => <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>
<p>[おすすめNo1]</p>
<br>
<p>[基本情報]</p>
<p>製品名 : <%= @array_item[0].series %></p>
<p>値段 : <%= @array_item[0].price %>円。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>スペック : <%= @array_item[0].cpu_score %>。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>インチ : <%= @array_item[0].inch %>インチ。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>重量 : <%= @array_item[0].weight %>kg。あなたにおすすめの重さは、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>バッテリー時間 : <%= @array_item[0].uptime %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<br>
<p>[あなたにとって重要な点]</p>
<p><%= @hash_rec_star.keys[0] %> : <%= @array_item[0][@hash_rec_star.keys[0]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %> </p>
<p><%= @hash_rec_star.keys[1] %> : <%= @array_item[0][@hash_rec_star.keys[1]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %> </p>
<p><%= @hash_rec_star.keys[2] %> : <%= @array_item[0][@hash_rec_star.keys[2]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %> </p>
<p><%= @hash_rec_star.keys[3] %> : <%= @array_item[0][@hash_rec_star.keys[3]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %> </p>
<p><%= @hash_rec_star.keys[4] %> : <%= @array_item[0][@hash_rec_star.keys[4]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %> </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo2]</p>
<br>
<p>[基本情報]</p>
<p>製品名 : <%= @array_item[1].series %></p>
<p>値段 : <%= @array_item[1].price %>円。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>スペック : <%= @array_item[1].cpu_score %>。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>インチ : <%= @array_item[1].inch %>インチ。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>重量 : <%= @array_item[1].weight %>kg。あなたにおすすめの重さは、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>バッテリー時間 : <%= @array_item[1].uptime %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<br>
<p>[あなたにとって重要な点]</p>
<p><%= @hash_rec_star.keys[0] %> : <%= @array_item[1][@hash_rec_star.keys[0]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %> </p>
<p><%= @hash_rec_star.keys[1] %> : <%= @array_item[1][@hash_rec_star.keys[1]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %> </p>
<p><%= @hash_rec_star.keys[2] %> : <%= @array_item[1][@hash_rec_star.keys[2]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %> </p>
<p><%= @hash_rec_star.keys[3] %> : <%= @array_item[1][@hash_rec_star.keys[3]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %> </p>
<p><%= @hash_rec_star.keys[4] %> : <%= @array_item[1][@hash_rec_star.keys[4]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %> </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo3]</p>
<br>
<p>[基本情報]</p>
<p>製品名 : <%= @array_item[2].series %></p>
<p>値段 : <%= @array_item[2].price %>円。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>スペック : <%= @array_item[2].cpu_score %>。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>インチ : <%= @array_item[2].inch %>インチ。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>重量 : <%= @array_item[2].weight %>kg。あなたにおすすめの重さは、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>バッテリー時間 : <%= @array_item[2].uptime %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<br>
<p>[あなたにとって重要な点]</p>
<p><%= @hash_rec_star.keys[0] %> : <%= @array_item[2][@hash_rec_star.keys[0]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %> </p>
<p><%= @hash_rec_star.keys[1] %> : <%= @array_item[2][@hash_rec_star.keys[1]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %> </p>
<p><%= @hash_rec_star.keys[2] %> : <%= @array_item[2][@hash_rec_star.keys[2]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %> </p>
<p><%= @hash_rec_star.keys[3] %> : <%= @array_item[2][@hash_rec_star.keys[3]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %> </p>
<p><%= @hash_rec_star.keys[4] %> : <%= @array_item[2][@hash_rec_star.keys[4]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %> </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo4]</p>
<br>
<p>[基本情報]</p>
<p>製品名 : <%= @array_item[3].series %></p>
<p>値段 : <%= @array_item[3].price %>円。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>スペック : <%= @array_item[3].cpu_score %>。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>インチ : <%= @array_item[3].inch %>インチ。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>重量 : <%= @array_item[3].weight %>kg。あなたにおすすめの重さは、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>バッテリー時間 : <%= @array_item[3].uptime %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<br>
<p>[あなたにとって重要な点]</p>
<p><%= @hash_rec_star.keys[0] %> : <%= @array_item[3][@hash_rec_star.keys[0]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %> </p>
<p><%= @hash_rec_star.keys[1] %> : <%= @array_item[3][@hash_rec_star.keys[1]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %> </p>
<p><%= @hash_rec_star.keys[2] %> : <%= @array_item[3][@hash_rec_star.keys[2]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %> </p>
<p><%= @hash_rec_star.keys[3] %> : <%= @array_item[3][@hash_rec_star.keys[3]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %> </p>
<p><%= @hash_rec_star.keys[4] %> : <%= @array_item[3][@hash_rec_star.keys[4]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %> </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo5]</p>
<br>
<p>[基本情報]</p>
<p>製品名 : <%= @array_item[4].series %></p>
<p>値段 : <%= @array_item[4].price %>円。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
<p>スペック : <%= @array_item[4].cpu_score %>。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
<p>インチ : <%= @array_item[4].inch %>インチ。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
<p>重量 : <%= @array_item[4].weight %>kg。あなたにおすすめの重さは、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
<p>バッテリー時間 : <%= @array_item[4].uptime %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>

<br>
<p>[あなたにとって重要な点]</p>
<p><%= @hash_rec_star.keys[0] %> : <%= @array_item[4][@hash_rec_star.keys[0]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[0]] %> </p>
<p><%= @hash_rec_star.keys[1] %> : <%= @array_item[4][@hash_rec_star.keys[1]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[1]] %> </p>
<p><%= @hash_rec_star.keys[2] %> : <%= @array_item[4][@hash_rec_star.keys[2]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[2]] %> </p>
<p><%= @hash_rec_star.keys[3] %> : <%= @array_item[4][@hash_rec_star.keys[3]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[3]] %> </p>
<p><%= @hash_rec_star.keys[4] %> : <%= @array_item[4][@hash_rec_star.keys[4]] %>, あたなにおすすめ : <%= @hash_rec_avrg[@hash_rec_star.keys[4]] %> </p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>


<p>一覧：おすすめ品 ! </p>
<p>[おすすめNo1]<%= @array_item[0].series %> ====> <%= @array_item[0].name %></p>
<p>[おすすめNo2]<%= @array_item[1].series %> ====> <%= @array_item[1].name %></p>
<p>[おすすめNo3]<%= @array_item[2].series %> ====> <%= @array_item[2].name %></p>
<p>[おすすめNo4]<%= @array_item[3].series %> ====> <%= @array_item[3].name %></p>
<p>[おすすめNo5]<%= @array_item[4].series %> ====> <%= @array_item[4].name %></p>
<p>[おすすめNo6]<%= @array_item[5].series %> ====> <%= @array_item[5].name %></p>
<p>[おすすめNo7]<%= @array_item[6].series %> ====> <%= @array_item[6].name %></p>
<p>[おすすめNo8]<%= @array_item[7].series %> ====> <%= @array_item[7].name %></p>
<p>[おすすめNo9]<%= @array_item[8].series %> ====> <%= @array_item[8].name %></p>
<p>[おすすめNo10]<%= @array_item[9].series %> ====> <%= @array_item[9].name %></p>
<p>[おすすめNo11]<%= @array_item[10].series %> ====> <%= @array_item[10].name %></p>
<p>[おすすめNo12]<%= @array_item[11].series %> ====> <%= @array_item[11].name %></p>
<p>[おすすめNo13]<%= @array_item[12].series %> ====> <%= @array_item[12].name %></p>
<p>[おすすめNo14]<%= @array_item[13].series %> ====> <%= @array_item[13].name %></p>
<p>[おすすめNo15]<%= @array_item[14].series %> ====> <%= @array_item[14].name %></p>
<p>[おすすめNo16]<%= @array_item[15].series %> ====> <%= @array_item[15].name %></p>
<p>[おすすめNo17]<%= @array_item[16].series %> ====> <%= @array_item[16].name %></p>
<p>[おすすめNo18]<%= @array_item[17].series %> ====> <%= @array_item[17].name %></p>
<p>[おすすめNo19]<%= @array_item[18].series %> ====> <%= @array_item[18].name %></p>
<p>[おすすめNo20]<%= @array_item[19].series %> ====> <%= @array_item[19].name %></p>
<p>[おすすめNo21]<%= @array_item[20].series %> ====> <%= @array_item[20].name %></p>
<p>[おすすめNo22]<%= @array_item[21].series %> ====> <%= @array_item[21].name %></p>
<p>[おすすめNo23]<%= @array_item[22].series %> ====> <%= @array_item[22].name %></p>
<p>[おすすめNo24]<%= @array_item[23].series %> ====> <%= @array_item[23].name %></p>
<p>[おすすめNo25]<%= @array_item[24].series %> ====> <%= @array_item[24].name %></p>
<p>[おすすめNo26]<%= @array_item[25].series %> ====> <%= @array_item[25].name %></p>
<p>[おすすめNo27]<%= @array_item[26].series %> ====> <%= @array_item[26].name %></p>
<p>[おすすめNo28]<%= @array_item[27].series %> ====> <%= @array_item[27].name %></p>
<p>[おすすめNo29]<%= @array_item[28].series %> ====> <%= @array_item[28].name %></p>
<p>[おすすめNo30]<%= @array_item[29].series %> ====> <%= @array_item[29].name %></p>
<p>[おすすめNo31]<%= @array_item[30].series %> ====> <%= @array_item[30].name %></p>
<p>[おすすめNo32]<%= @array_item[31].series %> ====> <%= @array_item[31].name %></p>
<p>[おすすめNo33]<%= @array_item[32].series %> ====> <%= @array_item[32].name %></p>
<p>[おすすめNo34]<%= @array_item[33].series %> ====> <%= @array_item[33].name %></p>
<p>[おすすめNo35]<%= @array_item[34].series %> ====> <%= @array_item[34].name %></p>
<p>[おすすめNo36]<%= @array_item[35].series %> ====> <%= @array_item[35].name %></p>
<p>[おすすめNo37]<%= @array_item[36].series %> ====> <%= @array_item[36].name %></p>
<p>[おすすめNo38]<%= @array_item[37].series %> ====> <%= @array_item[37].name %></p>
<p>[おすすめNo39]<%= @array_item[38].series %> ====> <%= @array_item[38].name %></p>
<p>[おすすめNo40]<%= @array_item[39].series %> ====> <%= @array_item[39].name %></p>
<p>[おすすめNo41]<%= @array_item[40].series %> ====> <%= @array_item[40].name %></p>
<p>[おすすめNo42]<%= @array_item[41].series %> ====> <%= @array_item[41].name %></p>
<p>[おすすめNo43]<%= @array_item[42].series %> ====> <%= @array_item[42].name %></p>
<p>[おすすめNo44]<%= @array_item[43].series %> ====> <%= @array_item[43].name %></p>
<p>[おすすめNo45]<%= @array_item[44].series %> ====> <%= @array_item[44].name %></p>
<p>[おすすめNo46]<%= @array_item[45].series %> ====> <%= @array_item[45].name %></p>
<p>[おすすめNo47]<%= @array_item[46].series %> ====> <%= @array_item[46].name %></p>
<p>[おすすめNo48]<%= @array_item[47].series %> ====> <%= @array_item[47].name %></p>
<p>[おすすめNo49]<%= @array_item[48].series %> ====> <%= @array_item[48].name %></p>
<p>[おすすめNo50]<%= @array_item[49].series %> ====> <%= @array_item[49].name %></p>
<p>[おすすめNo51]<%= @array_item[50].series %> ====> <%= @array_item[50].name %></p>
<p>[おすすめNo52]<%= @array_item[51].series %> ====> <%= @array_item[51].name %></p>
<p>[おすすめNo53]<%= @array_item[52].series %> ====> <%= @array_item[52].name %></p>
<p>[おすすめNo54]<%= @array_item[53].series %> ====> <%= @array_item[53].name %></p>
<p>[おすすめNo55]<%= @array_item[54].series %> ====> <%= @array_item[54].name %></p>
<p>[おすすめNo56]<%= @array_item[55].series %> ====> <%= @array_item[55].name %></p>
<p>[おすすめNo57]<%= @array_item[56].series %> ====> <%= @array_item[56].name %></p>
<p>[おすすめNo58]<%= @array_item[57].series %> ====> <%= @array_item[57].name %></p>
<p>[おすすめNo59]<%= @array_item[58].series %> ====> <%= @array_item[58].name %></p>
<p>[おすすめNo60]<%= @array_item[59].series %> ====> <%= @array_item[59].name %></p>
<p>[おすすめNo61]<%= @array_item[60].series %> ====> <%= @array_item[60].name %></p>
<p>[おすすめNo62]<%= @array_item[61].series %> ====> <%= @array_item[61].name %></p>
<p>[おすすめNo63]<%= @array_item[62].series %> ====> <%= @array_item[62].name %></p>
<p>[おすすめNo64]<%= @array_item[63].series %> ====> <%= @array_item[63].name %></p>

<p> --------------------------------------------- </p>


<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/Bv11g71AEVl/?utm_source=ig_embed&amp;utm_medium=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/Bv11g71AEVl/?utm_source=ig_embed&amp;utm_medium=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div><div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> </div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/Bv11g71AEVl/?utm_source=ig_embed&amp;utm_medium=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">HYPERさん(@hypermac)がシェアした投稿</a> - <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2019-04-04T16:59:08+00:00">2019年 4月月4日午前9時59分PDT</time></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>

<p> --------------------------------------------- </p>
