<h1>Results#index</h1>

<p> --------------------------------------------- </p>

<p>[User-ID] <%= @user_id %></p>
<p>[User-Type] <%= @category %></p>

<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>
<p>[おすすめNo1]<%= @array_item[0].series %> ====> <%= @array_item[0].name %></p>
<p>[おすすめNo2]<%= @array_item[1].series %> ====> <%= @array_item[1].name %></p>
<p>[おすすめNo3]<%= @array_item[2].series %> ====> <%= @array_item[2].name %></p>
<p>[おすすめNo4]<%= @array_item[3].series %> ====> <%= @array_item[3].name %></p>
<p>[おすすめNo5]<%= @array_item[4].series %> ====> <%= @array_item[4].name %></p>
<p>[おすすめNo6]<%= @array_item[5].series %> ====> <%= @array_item[5].name %></p>
<p>[おすすめNo7]<%= @array_item[6].series %> ====> <%= @array_item[6].name %></p>
<p>[おすすめNo8]<%= @array_item[7].series %> ====> <%= @array_item[7].name %></p>
<p>[おすすめNo9]<%= @array_item[8].series %> ====> <%= @array_item[8].name %></p>
<p>[おすすめNo10]<%= @array_item[9].series %> ====> <%= @array_item[9].name %></p>
<p>[おすすめNo11]<%= @array_item[10].series %> ====> <%= @array_item[10].name %></p>
<p>[おすすめNo12]<%= @array_item[11].series %> ====> <%= @array_item[11].name %></p>
<p>[おすすめNo13]<%= @array_item[12].series %> ====> <%= @array_item[12].name %></p>
<p>[おすすめNo14]<%= @array_item[13].series %> ====> <%= @array_item[13].name %></p>
<p>[おすすめNo15]<%= @array_item[14].series %> ====> <%= @array_item[14].name %></p>
<p>[おすすめNo16]<%= @array_item[15].series %> ====> <%= @array_item[15].name %></p>
<p>[おすすめNo17]<%= @array_item[16].series %> ====> <%= @array_item[16].name %></p>
<p>[おすすめNo18]<%= @array_item[17].series %> ====> <%= @array_item[17].name %></p>
<p>[おすすめNo19]<%= @array_item[18].series %> ====> <%= @array_item[18].name %></p>
<p>[おすすめNo20]<%= @array_item[19].series %> ====> <%= @array_item[19].name %></p>

<p> --------------------------------------------- </p>
