<header>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md bg-darkblue border-bottom">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @user_id %>
                      <li  class="nav-item" style="margin-left:50px;">
                      <%= link_to "結果",
                      {
                        :controller => "results",
                        :action => "index",
                        :category => "laptop",
                      },
                    :class => "nav-item nav-link active"%>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
  </div>
</header>
<main>
<p>[User-ID] ==> <%= @user_id %></p>
<p>[Record] ==> <%= @array_debug %></p>

<p>[Recommend Avrg] ==> <%= @hash_rec_avrg %></p>
<p>[All Avrg] ==> <%= @hash_difference_avrg %></p>
<p>[Record] ==> <%= @hash_rec_star %></p>
<p>[Debug] ==> <%= @hash_star %></p>

<<<<<<< HEAD
<div class="top-main">
  <div class="top-contents">
    <div class="card bg-info result">
      <div class="card-header">
        診断結果
      </div>
      <div class="card-body bg-light text-dark">
        <div class="result-contents">
          <p class="text-center">あなたのタイプは</p>
          <h2 class="text-info text-center"><%= @charasteristic_title %>タイプ</h2>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 result-contents">

            <p>[重視1] <%= @charasteristic_chara_1_str %> : <%= @charasteristic_chara_1_val%></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_1_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視2] <%= @charasteristic_chara_2_str %> : <%= @charasteristic_chara_2_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_2_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視3] <%= @charasteristic_chara_3_str %> : <%= @charasteristic_chara_3_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_3_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視4] <%= @charasteristic_chara_4_str %> : <%= @charasteristic_chara_4_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_4_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視5] <%= @charasteristic_chara_5_str %> : <%= @charasteristic_chara_5_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_5_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 result-contents">
            <h4>解説</h4>
            <p class="card-text"><%= @charasteristic_body %></p>
          </div>
=======
<p>一覧：おすすめ品 ! </p>
<p>[おすすめNo1]<%= @array_item[0].series %> ====> <%= @array_item[0].name %></p>
<p>[おすすめNo2]<%= @array_item[1].series %> ====> <%= @array_item[1].name %></p>
<p>[おすすめNo3]<%= @array_item[2].series %> ====> <%= @array_item[2].name %></p>
<p>[おすすめNo4]<%= @array_item[3].series %> ====> <%= @array_item[3].name %></p>
<p>[おすすめNo5]<%= @array_item[4].series %> ====> <%= @array_item[4].name %></p>
<p>[おすすめNo6]<%= @array_item[5].series %> ====> <%= @array_item[5].name %></p>
<p>[おすすめNo7]<%= @array_item[6].series %> ====> <%= @array_item[6].name %></p>
<p>[おすすめNo8]<%= @array_item[7].series %> ====> <%= @array_item[7].name %></p>
<p>[おすすめNo9]<%= @array_item[8].series %> ====> <%= @array_item[8].name %></p>
<p>[おすすめNo10]<%= @array_item[9].series %> ====> <%= @array_item[9].name %></p>

<div class="container">
  <div class="row row-1">
    <div class="col-md-12">
      <h1>あなたの特徴とおすすめの商品を紹介します。</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-1">
    <% if @question_finish == "false" %>
    <div class="col-md-12">
      <h2>質問に答えよう</h2>
      <p>質問の結果に応じて、あなたに最適なアイテムを紹介します。</p>
      <p>ぜひ最後まで答えてみてください。</p>
      <%= link_to "質問に戻る", :back, :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row item">
    <div class="col-md-12">
      <h2>あなたの特徴と説明</h2>
      <h5>説明</h5>
      <div class="result-commentary">
        <p>あなたは　<修正必要。。。>　という特徴をもっています。</p>
        <ul>
          <li><%= @hash_rec_star.keys[0] %></li>
          <p>あなたにとっておすすめの<%= @hash_rec_star.keys[0] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[0]] %>です。</p>
					<p>標準的な<%= @hash_rec_star.keys[0] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[0]] %>です。</p>
          <li><%= @hash_rec_star.keys[1] %></li>
					<p>あなたにとっておすすめの<%= @hash_rec_star.keys[1] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[1]] %>です。</p>
					<p>標準的な<%= @hash_rec_star.keys[1] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[1]] %>です。</p>
          <li><%= @hash_rec_star.keys[2] %></li>
					<p>あなたにとっておすすめの<%= @hash_rec_star.keys[2] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[2]] %>です。</p>
					<p>標準的な<%= @hash_rec_star.keys[2] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[2]] %>です。</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="row result-contents">
    <div class="col-md-12">
      <h5>特徴</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="result-commentary">
        <h3 class="text-center">全体平均に対するあなたの特徴</h3>
        <div class="result-chart-graph">
          <input id='c_1' name='c_1' type='hidden' value='値段'>
          <input id='c_2' name='c_2' type='hidden' value='スペック'>
          <input id='c_3' name='c_3' type='hidden' value='サイズ'>
          <input id='c_4' name='c_4' type='hidden' value='重量'>
          <input id='c_5' name='c_5' type='hidden' value='バッテリー時間'>
          <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @hash_rec_star["price"]%>'>
          <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @hash_rec_star["cpu_score"]%>'>
          <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @hash_rec_star["inch"]%>'>
          <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @hash_rec_star["weight"]%>'>
          <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @hash_rec_star["uptime"]%>'>
          <canvas id="resultChart"></canvas>
        </div>
        <div class="container-fluid">
          <div class="row row-1">
            <div class="col-lg-8 offset-lg-2 ">
              <div class="blue-box"></div><p class="text-left">平均</p>
            </div>
          </div>
          <div class="row row-1">
              <div class="col-lg-8 offset-lg-2 ">
                <div class="orange-box"></div><p class="text-left">あなたのおすすめ</p>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-2 ">
              <h3 class="text-center">おすすめ</h3>
              <p class="text-center">商品の平均に対して、あなたにおすすめな値を表示しています。</p>
              <table class="table table-hover table-condensed specm-table mt-5">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>平均</th>
                        <th>おすすめ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>値段</td>
                        <td><%= @hash_rec_avrg["price"].round(-3).to_i %>円</td>
                        <td><%= @hash_difference_avrg["price"].round(-3).to_i %>円</td>
                    </tr>
                    <tr>
                        <td>スペック(CPU)</td>
                        <td><%= @hash_rec_avrg["cpu_score"].round(-2).to_i %></td>
                        <td><%= @hash_difference_avrg["cpu_score"].round(-2).to_i %></td>
                    </tr>
                    <tr>
                        <td>サイズ</td>
                        <td><%= @hash_rec_avrg["inch"].round(1) %> インチ</td>
                        <td><%= @hash_difference_avrg["inch"].round(1) %> インチ</td>
                    </tr>
                    <tr>
                        <td>重量</td>
                        <td><%= @hash_rec_avrg["weight"].round(3) %> kg</td>
                        <td><%= @hash_difference_avrg["weight"].round(3) %> kg</td>
                    </tr>
                    <tr>
                        <td>バッテリー時間</td>
                        <td><%= @hash_rec_avrg["uptime"].round(1) %> 時間</td>
                        <td><%= @hash_difference_avrg["uptime"].round(1) %> 時間</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <h3 class="text-center">重要度</h3>
              <p class="text-center">あなたにとって重要な観点が表示されています。</p>
              <table class="table table-hover table-condensed specm-table mt-5">
                <thead>
                  <tr>
                    <th>項目</th>
                    <th>重要度</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>値段</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["price"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>スペック(CPU)</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["cpu_score"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>サイズ</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["inch"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>重量</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["weight"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td>バッテリー時間</td>
                    <td>
                    <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @hash_rec_star["uptime"] %>rem; max-height: 100%;">
                      <p>★★★★★★★★★★</p>
                    </div>
                    <div class="result-star-rating-back">
                      <p>★★★★★★★★★★</p>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <%# コメントアウト %>
          <% if false %>
					<p>[安さ] ★<%= @hash_rec_star["price"] %> : 平均の値段は、<%= @hash_difference_avrg["price"].round(-3).to_i %>円です。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
					<p>[スペック] ★<%= @hash_rec_star["cpu_score"] %> : 平均のスペックは、<%= @hash_difference_avrg["cpu_score"].round(-2).to_i %>です。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
					<p>[画面の大きさ] ★<%= @hash_rec_star["inch"] %> : 平均の画面の大きさは、<%= @hash_difference_avrg["inch"].round(1) %>インチです。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
					<p>[軽さ] ★<%= @hash_rec_star["weight"] %> : 平均の重量は、<%= @hash_difference_avrg["weight"].round(3) %>kgです。あなたにおすすめの重量は、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
					<p>[バッテリー時間] ★<%= @hash_rec_star["uptime"] %> : 平均のバッテリー時間は、<%= @hash_difference_avrg["uptime"].round(1) %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>
          <% end %>
          <%# コメントアウト終了 %>
      </div>
    </div>
  </div>
  <div class="row row-1">
    <div class="col-md-12">
      <h2>あなたへのおすすめ商品</h2>
      <p>あなたの特徴にマッチした６つの商品を紹介しています。</p>
      <p>詳細ページにあなたにとってマッチしている理由が表示されます。</p>
      <p>気になった商品があった場合は、詳細ページをご覧ください。</p>
    </div>
  </div>
  <div class="row">
    <% for num in 0..(@item_display_num-1) do %>
      <div class="col-lg-2 col-md-4 col-sm-6 bg-white col-0 border row-1 items">
        <div class="item-ranking bg-darkorange">
          <%= "#" + "#{num+1}" %>
        </div>
        <div class="item-image">
          <%= link_to image_tag("#{@array_item[num].image}", class: "img-fluid"),
          {
            :controller => "items",
            :action => "show",
            :item_id => @array_item[num].item_id,
            :category => @category,
            :series => @array_item[num].series,
          } %>
        </div>
        <div class="item-explain">
          <p><span>￥<%= @array_item[num].price %></span></p>
          <p>メモリ:<%= @array_item[num].ram %>GB,
          SSD:<%= @array_item[num].ssd %>GB,
          バッテリー:<%= @array_item[num].uptime %>時間,
          重さ:<%= @array_item[num].weight %>kg<br>
          <%= link_to "詳細を見る",
            {
              :controller => "items",
              :action => "show",
              :item_id => @array_item[num].item_id,
              :category => @category,
              :series => @array_item[num].series,
            }
          %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
        <pre><p class="readMoreBtn w-75 text-center text-dark mx-auto"><i class="fas fa-sort-down"></i>　もっと見る</p></pre>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-12">
      <h2>記事一覧</h2>
      <% @articles.each do |article| %>
      <div class="row row-1">
        <div class="col-md-4">
          <img class="img-fluid" src="<%= article.image %>"  alt="Responsive image">
        </div>
        <div class="col-md-8">
          <h3><%= link_to article.title, article %></h3>
          <p><%= article.preview %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</main>


<% if false %>
  <h2>デバッグ</h2>
  <% for num in 0..@item_display_row_num do %>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-item" style="width: 20rem;">
        <h6>第<%=num*2+1%>位</h6>
        <%= image_tag "#{@array_item[num*2].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
        <div class="card-body">
          <h4 class="card-title"><%= @array_item[num*2].series %></h4>
          <p class="card-text">￥<%= @array_item[num*2].price %></p>
          <%= link_to "詳細を見る",
            {
              :controller => "items",
              :action => "show",
              :item_id => @array_item[num*2].item_id,
              :category => @category,
              :series => @array_item[num*2].series,
            },
            :class => "btn btn-primary question-btn-right"%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-item" style="width: 20rem;">
        <h6>第<%=num*2+2%>位</h6>
        <%= image_tag "#{@array_item[num*2+1].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
        <div class="card-body">
          <h4 class="card-title"><%= @array_item[num*2+1].series %></h4>
          <p class="card-text">￥<%= @array_item[num*2+1].price %></p>
          <%# <button class="btn btn-block btn-outline-secondary" id="item_btn_<%=num*2+1  ">詳細を見る</button> %>
                    <%= link_to "詳細を見る",
            {
              :controller => "items",
              :action => "show",
              :item_id => @array_item[num*2+1].item_id,
              :category => @category,
              :series => @array_item[num*2+1].series,
            },
            :class => "btn btn-primary question-btn-right"%>
>>>>>>> ef3186886566c2b13540263666fd7819057e5b71
        </div>
        <h4>おすすめ商品</h4>
			</div>
			  </div>
			  <div class="row ">
			    <div class="col-md-8">
			      <div class="result-commentary">
			        <p>あなたは　<修正必要。。。>　という特徴をもっています。</p>
			        <ul>
			          <li><%= @hash_rec_star.keys[0] %></li>
			          <p>あなたにとっておすすめの<%= @hash_rec_star.keys[0] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[0]] %>です。</p>
								<p>標準的な<%= @hash_rec_star.keys[0] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[0]] %>です。</p>
			          <li><%= @hash_rec_star.keys[1] %></li>
								<p>あなたにとっておすすめの<%= @hash_rec_star.keys[1] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[1]] %>です。</p>
								<p>標準的な<%= @hash_rec_star.keys[1] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[1]] %>です。</p>
			          <li><%= @hash_rec_star.keys[2] %></li>
								<p>あなたにとっておすすめの<%= @hash_rec_star.keys[2] %>のスペックは、<%= @hash_rec_avrg[@hash_rec_star.keys[2]] %>です。</p>
								<p>標準的な<%= @hash_rec_star.keys[2] %>のスペックは、<%= @hash_difference_avrg[@hash_rec_star.keys[2]] %>です。</p>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="row result-contents">
			    <div class="col-md-8">
			      <h5>特徴</h5>
			    </div>
			  </div>
			  <div class="row ">
			    <div class="col-md-8">
			      <div class="result-chart">
			        <p>項目</p>
			        <div class="result-chart-graph">
			          <input id='c_1' name='c_1' type='hidden' value='安さ'>
			          <input id='c_2' name='c_2' type='hidden' value='スペック'>
			          <input id='c_3' name='c_3' type='hidden' value='画面の大きさ'>
			          <input id='c_4' name='c_4' type='hidden' value='軽さ'>
			          <input id='c_5' name='c_5' type='hidden' value='バッテリー時間'>
			          <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @hash_rec_star["price"]%>'>
			          <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @hash_rec_star["cpu_score"]%>'>
			          <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @hash_rec_star["inch"]%>'>
			          <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @hash_rec_star["weight"]%>'>
			          <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @hash_rec_star["uptime"]%>'>
			          <canvas id="resultChart"></canvas>
			        </div>
							<div class="result-commentary-fundamental">
								<p>[安さ] ★<%= @hash_rec_star["price"] %> : 平均の値段は、<%= @hash_difference_avrg["price"].round(-3).to_i %>円です。あなたにおすすめの値段は、<%= @hash_rec_avrg["price"].round(-3).to_i %>円です。</p>
								<p>[スペック] ★<%= @hash_rec_star["cpu_score"] %> : 平均のスペックは、<%= @hash_difference_avrg["cpu_score"].round(-2).to_i %>です。あなたにおすすめのスペックは、<%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>です。</p>
								<p>[画面の大きさ] ★<%= @hash_rec_star["inch"] %> : 平均の画面の大きさは、<%= @hash_difference_avrg["inch"].round(1) %>インチです。あなたにおすすめの画面の大きさは、<%= @hash_rec_avrg["inch"].round(1) %>インチです。</p>
								<p>[軽さ] ★<%= @hash_rec_star["weight"] %> : 平均の重量は、<%= @hash_difference_avrg["weight"].round(3) %>kgです。あなたにおすすめの重量は、<%= @hash_rec_avrg["weight"].round(3) %>kgです。</p>
								<p>[バッテリー時間] ★<%= @hash_rec_star["uptime"] %> : 平均のバッテリー時間は、<%= @hash_difference_avrg["uptime"].round(1) %>時間です。あなたにおすすめのバッテリー時間は、<%= @hash_rec_avrg["uptime"].round(1) %>時間です。</p>
				      </div>

			      </div>
			    </div>
			  </div>
			  <div class="row result-contents">
			    <div class="col-md-12">
			      <h5>ランキング</h5>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-md-8">
			      <div class="result-commentary">
			        <p>あなたへのおすすめ商品</p>
			      </div>
			    </div>
			  </div>
			  <% for num in 0..@item_display_row_num do %>
			  <div class="row  result-contents">
			    <div class="col-md-6">
			      <div class="card card-item" style="width: 20rem;">
			        <h6>第<%=num*2+1%>位</h6>
			        <%= image_tag "#{@array_item[num*2].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
			        <div class="card-body">
			          <h4 class="card-title"><%= @array_item[num*2].series %></br>
			                                ￥<%= @array_item[num*2].price %></h4>
								<p class="card-text"><%= @hash_rec_star.keys[0] %> : <%= @array_item[num*2][@hash_rec_star.keys[0]] %></br>
								                     <%= @hash_rec_star.keys[1] %> : <%= @array_item[num*2][@hash_rec_star.keys[1]] %></br>
                                     <%= @hash_rec_star.keys[2] %> : <%= @array_item[num*2][@hash_rec_star.keys[2]] %></p>
			          <button class="btn btn-block btn-outline-secondary" id="item_btn_<%=num*2%>">詳細を見る</button>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-6">
			      <div class="card card-item" style="width: 20rem;">
			        <h6>第<%=num*2+2%>位</h6>
			        <%= image_tag "#{@array_item[num*2+1].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
			        <div class="card-body">
								<h4 class="card-title"><%= @array_item[num*2+1].series %></br>
			                                ￥<%= @array_item[num*2+1].price %></h4>
								<p class="card-text"><%= @hash_rec_star.keys[0] %> : <%= @array_item[num*2+1][@hash_rec_star.keys[0]] %></br>
								                     <%= @hash_rec_star.keys[1] %> : <%= @array_item[num*2+1][@hash_rec_star.keys[1]] %></br>
                                     <%= @hash_rec_star.keys[2] %> : <%= @array_item[num*2+1][@hash_rec_star.keys[2]] %></p>
			          <button class="btn btn-block btn-outline-secondary" id="item_btn_<%=num*2+1%>">詳細を見る</button>
			        </div>
			      </div>
			    </div>
			  </div>
			  <% end %>
			</div>



      </div>
    </div>
  </div>
<<<<<<< HEAD
=======
  <% end %>
  <a href="#" class="readMoreBtn">
    <span class="moreText">もっと見る</span><span class="arrowDown"></span>
  </a>
>>>>>>> ef3186886566c2b13540263666fd7819057e5b71
</div>


<% for num in 0..(@item_display_num-1) do %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="item-details">
        <h2 id="item_<%=num%>">第<%= num+1 %>位のアイテム</h2>
        <ul class="nav nav-pills">
          <%# タブを作成 %>
          <li class="nav-item dropdown" type="button">
            <a class="nav-link dropdown-toggle btn-primary active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">　デザイン　</a>
            <div class="dropdown-menu">
            <% @items_array.each do |item|%>
              <% if item.series == @array_item[num].series %>
                <% item_num = @items_array.index(item) %>
                  <a href="#tab<%= item_num %>" class="dropdown-item" data-toggle="tab"><%= item.color %></a>
                <% @item_counter += 1%>
              <% end %>
            <% end %>
            </div>
          </li>
          <% @item_counter=0 %>
        </ul>
        <div class="tab-content item-detail border text-dark">
          <%# コンテンツを作成 %>
          <% @items_array.each do |item|%>
            <% if item.series == @array_item[num].series %>
              <% item_num = @items_array.index(item) %>
              <div id="tab<%= item_num %>" class="tab-pane <% if @item_counter==0 %>active<% end %>">
                <div class="row">
                    <div class="col-md-12">
                        <h3><%= item.name %></h3>
                        <%# <%= image_tag "#{item.image}", class: "item-img" %>
                        <p>価格：￥<%= item.price %></p>
                        <p style="font-size: 12px;">※価格が変更されている場合がございます。最新の情報はリンクをご確認ください。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <%= image_tag "#{item.image}", class: "item-img" %>
                    </div>
                    <div class="col-md-6">
                      <table class="table table-hover table-condensed specm-table">
                          <thead>
                              <tr>
                                  <th>項目</th>
                                  <th>商品性能</th>
                                  <th>あなたへのおすすめ性能</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>値段</td>
                                  <td><%= item.price %>円</td>
                                  <td><%= @hash_rec_avrg["price"].round(-3).to_i %>円</td>
                              </tr>
                              <tr>
                                  <td>スペック</td>
                                  <td><%= item.cpu_score %></td>
                                  <td><%= @hash_rec_avrg["cpu_score"].round(-2).to_i %></td>
                              </tr>
                              <tr>
                                  <td>サイズ</td>
                                  <td><%= item.inch %> インチ</td>
                                  <td><%= @hash_rec_avrg["inch"].round(1) %> インチ</td>
                              </tr>
                              <tr>
                                  <td>重量</td>
                                  <td><%= item.weight %> kg</td>
                                  <td><%= @hash_rec_avrg["weight"].round(3) %> kg</td>
                              </tr>
                              <tr>
                                  <td>バッテリー時間</td>
                                  <td><%= item.uptime %> 時間</td>
                                  <td><%= @hash_rec_avrg["uptime"].round(1) %> 時間</td>
                              </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="col-md-6">
                        <table class="table table-hover table-condensed specm-table">
                            <thead>
                                <tr>
                                    <th>あなたにとって重要な項目</th>
                                    <th>商品性能</th>
                                    <th>あなたへのおすすめ性能</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td><%= @hash_rec_star.keys[0] %></td>
                                  <td><%= item[@hash_rec_star.keys[0]] %></td>
                                  <td><%= @hash_rec_avrg[@hash_rec_star.keys[0]] %></td>
                              </tr>
                              <tr>
                                  <td><%= @hash_rec_star.keys[1] %></td>
                                  <td><%= item[@hash_rec_star.keys[1]] %></td>
                                  <td><%= @hash_rec_avrg[@hash_rec_star.keys[1]] %></td>
                              </tr>
                              <tr>
                                  <td><%= @hash_rec_star.keys[2] %></td>
                                  <td><%= item[@hash_rec_star.keys[2]] %></td>
                                  <td><%= @hash_rec_avrg[@hash_rec_star.keys[2]] %></td>
                              </tr>
                              <tr>
                                  <td><%= @hash_rec_star.keys[3] %></td>
                                  <td><%= item[@hash_rec_star.keys[3]] %></td>
                                  <td><%= @hash_rec_avrg[@hash_rec_star.keys[3]] %></td>
                              </tr>
                              <tr>
                                  <td><%= @hash_rec_star.keys[4] %></td>
                                  <td><%= item[@hash_rec_star.keys[4]] %></td>
                                  <td><%= @hash_rec_avrg[@hash_rec_star.keys[4]] %></td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-hover table-condensed item-table">
                            <thead>
                                <tr>
                                    <th>項目</th>
                                    <th>詳細</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>メーカー</td>
                                    <td><%= item.maker %></td>
                                </tr>
                                <tr>
                                    <td>商品重量</td>
                                    <td><%= item.weight %>kg</td>
                                </tr>
                                <tr>
                                    <td>カラー</td>
                                    <td><%= item.color %></td>
                                </tr>
                                <tr>
                                    <td>サイズ</td>
                                    <td><%= item.inch %> インチ</td>
                                </tr>
                                <tr>
                                    <td>CPU タイプ</td>
                                    <td><%= item.cpu_name %></td>
                                </tr>
                                <tr>
                                    <td>CPU コア数</td>
                                    <td><%= item.cpu_core %> コア</td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td><%= item.ram %> GB</td>
                                </tr>
                                <% if item.ssd != 0 %>
                                <tr>
                                    <td>SSD</td>
                                    <td><%= item.ssd %> GB</td>
                                </tr>
                                <% end %>
                                <% if item.hdd != 0 %>
                                <tr>
                                    <td>HDD</td>
                                    <td><%= item.hdd %> GB</td>
                                </tr>
                                <% end %>
                                <% if item.emmc != 0 %>
                                <tr>
                                    <td>EMMC</td>
                                    <td><%= item.emmc %> GB</td>
                                </tr>
                                <% end %>
                                <tr>
                                    <td>バッテリー時間</td>
                                    <td><%= item.uptime %> 時間</td>
                                </tr>
                                <tr>
                                    <td>OS</td>
                                    <td><%= item.os %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 offset-md-6">
                    <%= item.affiliate.html_safe %>
                  </div>
                </div>
              </div>
              <% @item_counter+=1 %>
            <% end %>
          <% end %>
          <% @item_counter=0 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <div class="row result-contents">
    <div class="col-md-12">
      <a href="#" class="readMoreBtn">
        <span class="moreText">もっと見る</span><span class="arrowDown"></span>
      </a>
    </div>
  </div>
</div>
<%end %>

<%#
<!-- ↓body閉じタグ直前でjQueryを読み込む -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- ↓ページが読み込まれたと同時にモーダルエリアを起動する -->
<script type="text/javascript">
  window.onload = function(){
      var result = $('.result').offset().top;
        $('html, body').animate({ scrollTop: result }, 1000, 'swing');
  }
</script> %>


























<%# ここから大量コメントアウト %>
<% if false%>






<% end %>
<%# 20190324アップデート前 %>
<%# <h1>Results#index</h1>

<p> --------------------------------------------- </p>

<p>[User-ID] <%= @user_id </p>
<p>[User-Type] <%= @category </p>

<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>
<p>[おすすめNo1] <%= @array_item[0].name </p>
<p>[おすすめNo2] <%= @array_item[1].name </p>
<p>[おすすめNo3] <%= @array_item[2].name </p>
<p>[おすすめNo4] <%= @array_item[3].name </p>
<p>[おすすめNo5] <%= @array_item[4].name </p>

<p> --------------------------------------------- </p> %>
