<div class="container result">
  <div class="row result-contents">
    <div class="col-md-12">
      <div class="result-type">
        <p>あなたのタイプ</p>
        <p><span><%= @charasteristic_title %></span></p>
        <img src="/type-a.jpg" class="img-fluid img-type" >
      </div>
    </div>
  </div>
  <div class="row result-contents">
    <div class="col-md-12">
      <h5>解説</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="result-commentary">
        <p>あなたは　＜<%= @charasteristic_body %>＞　という特徴をもっています。</p>
        <ul>
          <li><%= @charasteristic_chara_1_str %></li>
          <p>説明テキスト</p>
          <li><%= @charasteristic_chara_2_str %></li>
          <p>説明テキスト</p>
          <li><%= @charasteristic_chara_3_str %></li>
          <p>説明テキスト</p>
          <li><%= @charasteristic_chara_4_str %></li>
          <p>説明テキスト</p>
          <li><%= @charasteristic_chara_5_str %></li>
          <p>説明テキスト</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="row result-contents">
    <div class="col-md-12">
      <h5>特徴</h5>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="result-chart">
        <p>あなたにとって重要な５つのポイント</p>
        <div class="result-chart-graph">
          <input id='c_1' name='c_1' type='hidden' value='<%= @charasteristic_chara_1_str %>'>
          <input id='c_2' name='c_2' type='hidden' value='<%= @charasteristic_chara_2_str %>'>
          <input id='c_3' name='c_3' type='hidden' value='<%= @charasteristic_chara_3_str %>'>
          <input id='c_4' name='c_4' type='hidden' value='<%= @charasteristic_chara_4_str %>'>
          <input id='c_5' name='c_5' type='hidden' value='<%= @charasteristic_chara_5_str %>'>
          <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @charasteristic_chara_1_val%>'>
          <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @charasteristic_chara_2_val%>'>
          <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @charasteristic_chara_3_val%>'>
          <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @charasteristic_chara_4_val%>'>
          <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @charasteristic_chara_5_val%>'>

          <canvas id="resultChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row result-contents">
    <div class="col-md-12">
      <h5>ランキング</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="result-commentary">
        <p>今までのあなたが質問に回答してきた結果をもとに、その特徴にあったアイテムのランキングを表示しています。気になったアイテムがあったら「詳細を見る」ページで参考にしてください。</p>
      </div>
    </div>
  </div>
  <% for num in 0..@item_display_row_num do %>
  <div class="row  result-contents">
    <div class="col-md-6">

      <div class="card card-item" style="width: 20rem;">
        <h6>第<%=num*2+1%>位</h6>
        <%= image_tag "#{@array_item[num*2].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
        <div class="card-body">
          <h4 class="card-title"><%= @array_item[num*2].series %></h4>
          <p class="card-text">￥<%= @array_item[num*2].price %></p>
          <%= link_to "詳細を見る", {:controller => "items",:action => "show",:series => @array_item[num*2].series }, :class => "btn btn-block btn-outline-secondary" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-item" style="width: 20rem;">
        <h6>第<%=num*2+2%>位</h6>
        <%= image_tag "#{@array_item[num*2+1].image}", class: "card-img-top", alt: "Card image cap", height: "280px" %>
        <div class="card-body">
          <h4 class="card-title"><%= @array_item[num*2+1].series %></h4>
          <p class="card-text">￥<%= @array_item[num*2+1].price %></p>
          <%= link_to "詳細を見る", {:controller => "items",:action => "show",:series => @array_item[num*2+1].series }, :class => "btn btn-block btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>




<!-- ↓body閉じタグ直前でjQueryを読み込む -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- ↓ページが読み込まれたと同時にモーダルエリアを起動する -->
<script type="text/javascript">
  window.onload = function(){
      var result = $('.result').offset().top;
        $('html, body').animate({ scrollTop: result }, 2000, 'swing');
  }
</script>
































<%# ここから大量コメントアウト %>
<% if false%>
<div class="top-main">
  <div class="top-contents">
    <div class="card bg-info result">
      <div class="card-header">
        診断結果
      </div>
      <div class="card-body bg-light text-dark">
        <div class="result-contents">
          <p class="text-center">あなたのタイプは</p>
          <h2 class="text-info text-center"><%= @charasteristic_title %>タイプ</h2>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 result-contents">

            <p>[重視1] <%= @charasteristic_chara_1_str %> : <%= @charasteristic_chara_1_val%></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_1_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視2] <%= @charasteristic_chara_2_str %> : <%= @charasteristic_chara_2_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_2_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視3] <%= @charasteristic_chara_3_str %> : <%= @charasteristic_chara_3_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_3_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視4] <%= @charasteristic_chara_4_str %> : <%= @charasteristic_chara_4_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_4_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
            <p>[重視5] <%= @charasteristic_chara_5_str %> : <%= @charasteristic_chara_5_val %></p>
            <div class="result-star-rating position-relative">
              <div class="position-absolute overflow-hidden star-rating-front text-warning"style="max-width: <%= @charasteristic_chara_5_val*1.5 %>rem; max-height: 100%;">
                <h4>★★★★★★★★★★</h4>
              </div>
              <div class="result-star-rating-back">
                <h4>★★★★★★★★★★</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 result-contents">
            <h4>解説</h4>
            <p class="card-text"><%= @charasteristic_body %></p>
          </div>
        </div>
        <h4>おすすめ商品</h4>

        <% for num in 0..@item_display_row_num do %>
        <div class="row">
          <div class="col-md-12 col-lg-6 result-contents">
            <div class="card result-item" style="width: 20rem;">
            <%= link_to :controller => "items",:action => "show",:series => @array_item[num*2].series do%>
              <%= image_tag "#{@array_item[num*2].image}", class: "card-img-top border", alt: "Card image cap", height: "280px" %>
            <% end %>
              <div class="card-body">
                <p class="card-text"><%= @array_item[num*2].series %></p>
                <p class="card-text">￥<%= @array_item[num*2].price %></p>
                <%= link_to "詳細を見る", {:controller => "items",:action => "show",:series => @array_item[num*2].series }, :class => "btn btn-info btn-block" %>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 result-contents">
            <div class="card result-item" style="width: 20rem;">
            <%= link_to :controller => "items",:action => "show",:series => @array_item[num*2+1].series do%>
              <%= image_tag "#{@array_item[num*2+1].image}", class: "card-img-top border", alt: "Card image cap", height: "280px"  %>
            <% end %>
              <div class="card-body">
                <p class="card-text"><%= @array_item[num*2+1].series %></p>
                <p class="card-text">￥<%= @array_item[num*2+1].price %></p>
                <%= link_to "詳細を見る", {:controller => "items",:action => "show",:series => @array_item[num*2].series }, :class => "btn btn-info btn-block" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%# 20190324アップデート前 %>
<%# <h1>Results#index</h1>

<p> --------------------------------------------- </p>

<p>[User-ID] <%= @user_id </p>
<p>[User-Type] <%= @category </p>

<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>
<p>[おすすめNo1] <%= @array_item[0].name </p>
<p>[おすすめNo2] <%= @array_item[1].name </p>
<p>[おすすめNo3] <%= @array_item[2].name </p>
<p>[おすすめNo4] <%= @array_item[3].name </p>
<p>[おすすめNo5] <%= @array_item[4].name </p>

<p> --------------------------------------------- </p> %>
