<h1>Results#index</h1>
<p> --------------------------------------------- </p>

<p>[debug] ==> <%= @array_option_id[0] %></p>

<p> --------------------------------------------- </p>

<p>[User-ID] ==> <%= @user_id %></p>
<p>[Category] ==> <%= @category %></p>

<p> --------------------------------------------- </p>

<p>[Item num] ==> <%= @array_item.count %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>

<p>Star ! </p>

<p> --------------------------------------------- </p>

<p>[特徴1]<%= @array_effective_column[0][0] %> ====> <%= @array_star_normalize[0] %></p>
<p>[特徴2]<%= @array_effective_column[1][0] %> ====> <%= @array_star_normalize[1] %></p>
<p>[特徴3]<%= @array_effective_column[2][0] %> ====> <%= @array_star_normalize[2] %></p>
<p>[特徴4]<%= @array_effective_column[3][0] %> ====> <%= @array_star_normalize[3] %></p>
<p>[特徴5]<%= @array_effective_column[4][0] %> ====> <%= @array_star_normalize[4] %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>

<p>おすすめ商品 ! </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo1]</p>
<p>製品名 : <%= @array_item[0].series %></p>
<p>値段 : <%= @array_item[0].price %></p>
<p><%= @array_effective_column[0][0] %> : <%= @array_item[0][@array_effective_column[0][0]] %></p>
<p>[Avrg1]<%= @hash_difference_avrg[@array_effective_column[0][0]] %> </p>

<p><%= @array_effective_column[1][0] %> : <%= @array_item[0][@array_effective_column[1][0]] %></p>
<p>[Avrg2]<%= @hash_difference_avrg[@array_effective_column[1][0]] %> </p>

<p><%= @array_effective_column[2][0] %> : <%= @array_item[0][@array_effective_column[2][0]] %></p>
<p>[Avrg3]<%= @hash_difference_avrg[@array_effective_column[2][0]] %> </p>

<p><%= @array_effective_column[3][0] %> : <%= @array_item[0][@array_effective_column[3][0]] %></p>
<p>[Avrg4]<%= @hash_difference_avrg[@array_effective_column[3][0]] %> </p>

<p><%= @array_effective_column[4][0] %> : <%= @array_item[0][@array_effective_column[4][0]] %></p>
<p>[Avrg5]<%= @hash_difference_avrg[@array_effective_column[4][0]] %> </p>

<p> --------------------------------------------- </p>

<p>[おすすめNo2]</p>
<p>製品名 : <%= @array_item[1].series %></p>
<p>値段 : <%= @array_item[1].price %></p>
<p><%= @array_effective_column[0][0] %> : <%= @array_item[1][@array_effective_column[0][0]] %></p>
<p><%= @array_effective_column[1][0] %> : <%= @array_item[1][@array_effective_column[1][0]] %></p>
<p><%= @array_effective_column[2][0] %> : <%= @array_item[1][@array_effective_column[2][0]] %></p>
<p><%= @array_effective_column[3][0] %> : <%= @array_item[1][@array_effective_column[3][0]] %></p>
<p><%= @array_effective_column[4][0] %> : <%= @array_item[1][@array_effective_column[4][0]] %></p>

<p> --------------------------------------------- </p>

<p>[おすすめNo3]</p>
<p>製品名 : <%= @array_item[2].series %></p>
<p>値段 : <%= @array_item[2].price %></p>
<p><%= @array_effective_column[0][0] %> : <%= @array_item[2][@array_effective_column[0][0]] %></p>
<p><%= @array_effective_column[1][0] %> : <%= @array_item[2][@array_effective_column[1][0]] %></p>
<p><%= @array_effective_column[2][0] %> : <%= @array_item[2][@array_effective_column[2][0]] %></p>
<p><%= @array_effective_column[3][0] %> : <%= @array_item[2][@array_effective_column[3][0]] %></p>
<p><%= @array_effective_column[4][0] %> : <%= @array_item[2][@array_effective_column[4][0]] %></p>

<p> --------------------------------------------- </p>
<p> --------------------------------------------- </p>


<p>一覧：おすすめ品 ! </p>
<p>[おすすめNo1]<%= @array_item[0].series %> ====> <%= @array_item[0].name %></p>
<p>[おすすめNo2]<%= @array_item[1].series %> ====> <%= @array_item[1].name %></p>
<p>[おすすめNo3]<%= @array_item[2].series %> ====> <%= @array_item[2].name %></p>
<p>[おすすめNo4]<%= @array_item[3].series %> ====> <%= @array_item[3].name %></p>
<p>[おすすめNo5]<%= @array_item[4].series %> ====> <%= @array_item[4].name %></p>
<p>[おすすめNo6]<%= @array_item[5].series %> ====> <%= @array_item[5].name %></p>
<p>[おすすめNo7]<%= @array_item[6].series %> ====> <%= @array_item[6].name %></p>
<p>[おすすめNo8]<%= @array_item[7].series %> ====> <%= @array_item[7].name %></p>
<p>[おすすめNo9]<%= @array_item[8].series %> ====> <%= @array_item[8].name %></p>
<p>[おすすめNo10]<%= @array_item[9].series %> ====> <%= @array_item[9].name %></p>
<p>[おすすめNo11]<%= @array_item[10].series %> ====> <%= @array_item[10].name %></p>
<p>[おすすめNo12]<%= @array_item[11].series %> ====> <%= @array_item[11].name %></p>
<p>[おすすめNo13]<%= @array_item[12].series %> ====> <%= @array_item[12].name %></p>
<p>[おすすめNo14]<%= @array_item[13].series %> ====> <%= @array_item[13].name %></p>
<p>[おすすめNo15]<%= @array_item[14].series %> ====> <%= @array_item[14].name %></p>
<p>[おすすめNo16]<%= @array_item[15].series %> ====> <%= @array_item[15].name %></p>
<p>[おすすめNo17]<%= @array_item[16].series %> ====> <%= @array_item[16].name %></p>
<p>[おすすめNo18]<%= @array_item[17].series %> ====> <%= @array_item[17].name %></p>
<p>[おすすめNo19]<%= @array_item[18].series %> ====> <%= @array_item[18].name %></p>
<p>[おすすめNo20]<%= @array_item[19].series %> ====> <%= @array_item[19].name %></p>
<p>[おすすめNo21]<%= @array_item[20].series %> ====> <%= @array_item[20].name %></p>
<p>[おすすめNo22]<%= @array_item[21].series %> ====> <%= @array_item[21].name %></p>
<p>[おすすめNo23]<%= @array_item[22].series %> ====> <%= @array_item[22].name %></p>
<p>[おすすめNo24]<%= @array_item[23].series %> ====> <%= @array_item[23].name %></p>
<p>[おすすめNo25]<%= @array_item[24].series %> ====> <%= @array_item[24].name %></p>
<p>[おすすめNo26]<%= @array_item[25].series %> ====> <%= @array_item[25].name %></p>
<p>[おすすめNo27]<%= @array_item[26].series %> ====> <%= @array_item[26].name %></p>
<p>[おすすめNo28]<%= @array_item[27].series %> ====> <%= @array_item[27].name %></p>
<p>[おすすめNo29]<%= @array_item[28].series %> ====> <%= @array_item[28].name %></p>
<p>[おすすめNo30]<%= @array_item[29].series %> ====> <%= @array_item[29].name %></p>
<p>[おすすめNo31]<%= @array_item[30].series %> ====> <%= @array_item[30].name %></p>
<p>[おすすめNo32]<%= @array_item[31].series %> ====> <%= @array_item[31].name %></p>
<p>[おすすめNo33]<%= @array_item[32].series %> ====> <%= @array_item[32].name %></p>
<p>[おすすめNo34]<%= @array_item[33].series %> ====> <%= @array_item[33].name %></p>
<p>[おすすめNo35]<%= @array_item[34].series %> ====> <%= @array_item[34].name %></p>
<p>[おすすめNo36]<%= @array_item[35].series %> ====> <%= @array_item[35].name %></p>
<p>[おすすめNo37]<%= @array_item[36].series %> ====> <%= @array_item[36].name %></p>
<p>[おすすめNo38]<%= @array_item[37].series %> ====> <%= @array_item[37].name %></p>
<p>[おすすめNo39]<%= @array_item[38].series %> ====> <%= @array_item[38].name %></p>
<p>[おすすめNo40]<%= @array_item[39].series %> ====> <%= @array_item[39].name %></p>
<p>[おすすめNo41]<%= @array_item[40].series %> ====> <%= @array_item[40].name %></p>
<p>[おすすめNo42]<%= @array_item[41].series %> ====> <%= @array_item[41].name %></p>
<p>[おすすめNo43]<%= @array_item[42].series %> ====> <%= @array_item[42].name %></p>
<p>[おすすめNo44]<%= @array_item[43].series %> ====> <%= @array_item[43].name %></p>
<p>[おすすめNo45]<%= @array_item[44].series %> ====> <%= @array_item[44].name %></p>
<p>[おすすめNo46]<%= @array_item[45].series %> ====> <%= @array_item[45].name %></p>
<p>[おすすめNo47]<%= @array_item[46].series %> ====> <%= @array_item[46].name %></p>
<p>[おすすめNo48]<%= @array_item[47].series %> ====> <%= @array_item[47].name %></p>
<p>[おすすめNo49]<%= @array_item[48].series %> ====> <%= @array_item[48].name %></p>
<p>[おすすめNo50]<%= @array_item[49].series %> ====> <%= @array_item[49].name %></p>
<p>[おすすめNo51]<%= @array_item[50].series %> ====> <%= @array_item[50].name %></p>
<p>[おすすめNo52]<%= @array_item[51].series %> ====> <%= @array_item[51].name %></p>
<p>[おすすめNo53]<%= @array_item[52].series %> ====> <%= @array_item[52].name %></p>
<p>[おすすめNo54]<%= @array_item[53].series %> ====> <%= @array_item[53].name %></p>
<p>[おすすめNo55]<%= @array_item[54].series %> ====> <%= @array_item[54].name %></p>
<p>[おすすめNo56]<%= @array_item[55].series %> ====> <%= @array_item[55].name %></p>
<p>[おすすめNo57]<%= @array_item[56].series %> ====> <%= @array_item[56].name %></p>
<p>[おすすめNo58]<%= @array_item[57].series %> ====> <%= @array_item[57].name %></p>
<p>[おすすめNo59]<%= @array_item[58].series %> ====> <%= @array_item[58].name %></p>
<p>[おすすめNo60]<%= @array_item[59].series %> ====> <%= @array_item[59].name %></p>
<p>[おすすめNo61]<%= @array_item[60].series %> ====> <%= @array_item[60].name %></p>
<p>[おすすめNo62]<%= @array_item[61].series %> ====> <%= @array_item[61].name %></p>
<p>[おすすめNo63]<%= @array_item[62].series %> ====> <%= @array_item[62].name %></p>
<p>[おすすめNo64]<%= @array_item[63].series %> ====> <%= @array_item[63].name %></p>

<p> --------------------------------------------- </p>

<p> --------------------------------------------- </p>
