<div class="container">
<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<div class="table-responsive">
  <table class="table table-bordered table-condensed  table-sm">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Movie</th>
        <th>Value</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= Movie.find_by(id: tag.movie_id).title %></td>
          <td><%= tag.value %></td>
          <td><%= link_to 'Show', tag %></td>
          <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
          <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Tag', new_tag_path,:class => "btn btn-primary" %>
<br><br>
<%= link_to '映画を編集する', "/movies" %>
<br><br>
</div>
