<header>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md bg-darkblue border-bottom">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @result_displayed %>
                      <li  class="nav-item dropdown" style="margin-left:50px;">
                      <a href="#" class="text-white nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        結果
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% @categories.each do |category,name| %>
                          <%= link_to name,
                            {
                            :controller => "results",
                            :action => "index",
                            :category => category,
                            }, :class=> "dropdown-item"
                          %>
                        <% end %>
                      </div>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
  </div>
</header>

<main>
<div class="container bg-white">
    <div class="row row-1">
        <div class="col-md-12">
            <h2><%= @item.name %></h2>
        </div>
    </div>
    <div class="row row-1">
        <div class="col-md-6">
            <h3>価格：￥<%= @item.price %></h3>
            <p style="font-size: 12px;">※価格が変更されている場合がございます。最新の情報はリンクをご確認ください。</p>
            <%= image_tag "#{@item.image}", class: "img-fluid" %>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">基本性能<br>
            <small style="font-size:0.6em;">※未回答の結果は表示されません。</small>
            </h3>
            <div class="row row-1 ml-2">
                <div class="blue-box"></div><p>商品のスペック</p>
            </div>
            <div class="row row-1 ml-2">
                <div class="orange-box"></div><p>おすすめのスペック</p>
            </div>
						<input id='c_1' name='c_1' type='hidden' value='<%= @hash_column[@array_fundamental[0]]["frendly_name"]%>'>
	          <input id='c_2' name='c_2' type='hidden' value='<%= @hash_column[@array_fundamental[1]]["frendly_name"]%>'>
	          <input id='c_3' name='c_3' type='hidden' value='<%= @hash_column[@array_fundamental[2]]["frendly_name"]%>'>
	          <input id='c_4' name='c_4' type='hidden' value='<%= @hash_column[@array_fundamental[3]]["frendly_name"]%>'>
	          <input id='c_5' name='c_5' type='hidden' value='<%= @hash_column[@array_fundamental[4]]["frendly_name"]%>'>
	          <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @hash_item_star[@array_fundamental[0]]%>'>
	          <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @hash_item_star[@array_fundamental[1]]%>'>
	          <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @hash_item_star[@array_fundamental[2]]%>'>
	          <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @hash_item_star[@array_fundamental[3]]%>'>
	          <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @hash_item_star[@array_fundamental[4]]%>'>
						<input id='c_v_6' name='c_v_6' type='hidden' value='<%= @hash_rec_star[@array_fundamental[0]]%>'>
	          <input id='c_v_7' name='c_v_7' type='hidden' value='<%= @hash_rec_star[@array_fundamental[1]]%>'>
	          <input id='c_v_8' name='c_v_8' type='hidden' value='<%= @hash_rec_star[@array_fundamental[2]]%>'>
	          <input id='c_v_9' name='c_v_9' type='hidden' value='<%= @hash_rec_star[@array_fundamental[3]]%>'>
	          <input id='c_v_10' name='c_v_10' type='hidden' value='<%= @hash_rec_star[@array_fundamental[4]]%>'>
						<canvas id="itemChart"></canvas>
            <table class="table table-hover table-condensed specm-table">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>商品</th>
                        <th>おすすめの値</th>
                    </tr>
                </thead>
                <tbody>
									<% for num in 0..(@num_fundamental - 1) do %>
                    <tr>
												<td><%=@hash_column[@array_fundamental[num]]["frendly_name"]%></td>

												<% if @item[@array_fundamental[num]] == true %>
													<td>あり</td>
												<% elsif @item[@array_fundamental[num]] == false %>
													<td>なし</td>
												<% elsif @item[@array_fundamental[num]] %>
													<td><%= @item[@array_fundamental[num]] %> <%=@hash_column[@array_fundamental[num]]["unit"]%></td>
												<% else %>
													<td>-</td>
												<% end %>

												<% if @array_na_column.include?(@array_fundamental[num]) == true %>
													<% if @hash_rec_avrg[@array_fundamental[num]].round >= 0.5 %>
														<td>あり</td>
													<% else %>
														<td>なし</td>
													<% end %>
												<% elsif @array_na_column.include?(@array_fundamental[num]) == false %>
													<td><%= @hash_rec_avrg[@array_fundamental[num]] %> <%=@hash_column[@array_fundamental[num]]["unit"]%></td>
												<% else %>
													<td>-</td>
												<% end %>

                    </tr>
										<% end %>
                </tbody>
            </table>
            <p><strong>カラー</strong></p>
            <% @items.each do |item| %>
            <% if item.item_id == @item.item_id %>
                <% disable = "disabled" %>
            <% end %>
                <%= link_to item.color,
                    {
                    :controller => "items",
                    :action => "show",
                    :item_id => item.item_id,
                    :category => @category,
                    :series => item.series,
                    },
                :class => "btn btn-sm btn-outline-secondary row-1 #{disable} "%>
            <% end %>
        </div>
    </div>
    <div class="row row-1">
        <div class="col-md-6">
            <h3 class="text-center">あなたに重要な項目</h3>
            <table class="table table-hover table-condensed specm-table">
                <thead>
                    <tr>
                        <th>重要項目</th>
                        <th>おすすめ</th>
                        <th>商品</th>
                    </tr>
                </thead>
                <tbody>
								<% for num in 0..(@num_recommend - 1) do %>
                    <tr>
                        <td><%= @hash_column[@hash_rec_star.keys[num]]["frendly_name"] %></td>

												<% if @array_na_column.include?(@hash_rec_star.keys[num]) == true %>
													<% if @hash_rec_avrg[@hash_rec_star.keys[num]].round >= 0.5 %>
														<td>あり</td>
													<% else %>
														<td>なし</td>
													<% end %>
												<% elsif @array_na_column.include?(@hash_rec_star.keys[num]) == false %>
													<td><%= @hash_rec_avrg[@hash_rec_star.keys[num]] %> <%=@hash_column[@hash_rec_star.keys[num]]["unit"]%></td>
												<% else %>
													<td>-</td>
												<% end %>

												<% if @item[@hash_rec_star.keys[num]] == true %>
													<td>あり</td>
												<% elsif @item[@hash_rec_star.keys[num]] == false %>
													<td>なし</td>
												<% elsif @item[@hash_rec_star.keys[num]] %>
													<td><%= @item[@hash_rec_star.keys[num]] %> <%=@hash_column[@hash_rec_star.keys[num]]["unit"]%></td>
												<% else %>
													<td>-</td>
												<% end %>
                    </tr>
									<% end %>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">詳細</h3>
            <table class="table table-hover table-condensed item-table">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody>
									<% for num in 0..(@integer_item_info_count - 1) do %>
										<tr>
												<td><%= @hash_column[@array_item_info[num]]["frendly_name"] %></td>
												<% if @item[@array_item_info[num]] == true %>
													<td>あり</td>
												<% elsif @item[@array_item_info[num]] == false %>
													<td>なし</td>
												<% elsif @item[@array_item_info[num]] %>
													<td><%= @item[@array_item_info[num]] %> <%= @hash_column[@array_item_info[num]]["unit"] %></td>
												<% else %>
													<td>-</td>
												<% end %>
										</tr>
									<% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <%= @item.affiliate.html_safe %>
            <div class="row row-1">
                <%= link_to "結果に戻る", :back, :class => "btn btn-primary ml-3" %>
            </div>
        </div>
    </div>
		<h3>あなたへのおすすめ</h3>
		<div class="row">
	    <% for num in 0..(@item_display_num-1) do %>
	      <div class="col-lg-2 col-md-4 col-sm-6 bg-white col-0 border row-1 items">
	        <div class="item-ranking bg-darkorange">
	          <%= "#" + "#{num+1}" %>
	        </div>
	        <div class="item-image">
	          <%= link_to image_tag("#{@array_item[num].image}", class: "img-fluid"),
	          {
	            :controller => "items",
	            :action => "show",
	            :item_id => @array_item[num].item_id,
	            :category => @category,
	            :series => @array_item[num].series,
	          } %>
	        </div>
	        <div class="item-explain">
	          <p><span>￥<%= @array_item[num].price %></span></p>
	          <p>
						<% for num_rec in 0..(@num_recommend - 1) do %>
								<% if @array_item[num][@hash_rec_star.keys[num_rec]] == true %>
									<%= @hash_column[@hash_rec_star.keys[num_rec]]["frendly_name"] %>:あり
								<% elsif @array_item[num][@hash_rec_star.keys[num_rec]] == false %>
									<%= @hash_column[@hash_rec_star.keys[num_rec]]["frendly_name"] %>:なし
								<% elsif @array_item[num][@hash_rec_star.keys[num_rec]] %>
									<%= @hash_column[@hash_rec_star.keys[num_rec]]["frendly_name"] %>:<%= @array_item[num][@hash_rec_star.keys[num_rec]] %><%=@hash_column[@hash_rec_star.keys[num_rec]]["unit"]%>
								<% else %>
									<%= @hash_column[@hash_rec_star.keys[num_rec]]["frendly_name"] %>:-
								<% end %>
							<% end %>
						<br>
	          <%= link_to "詳細を見る",
	            {
	              :controller => "items",
	              :action => "show",
	              :item_id => @array_item[num].item_id,
	              :category => @category,
	              :series => @array_item[num].series,
	            }
	          %>
	        </div>
	      </div>
	    <% end %>
	  </div>
		<div class="row">
			<div class="col-md-12">
					<pre><p class="readMoreBtn w-75 text-center text-dark mx-auto"><i class="fas fa-sort-down" aria-hidden="true"></i>　もっと見る</p></pre>
			</div>
			<p>[Total-Time] ==> <%= @exec_time %> sec</p>
			<p>[Filter-Time] ==> <%= @exec_time_filter %> sec</p>
			<p>[check-Time] ==> <%= @exec_time_check %> sec</p>
			<p>[Cluster-Time] ==> <%= @exec_time_cluster %> sec</p>
			<p>[avrg-Time] ==> <%= @exec_time_avrg %> sec</p>
			<p>[User-ID] ==> <%= @user_id %></p>
			<p>[REC] ==> <%= @actrec_recommend_item.first(5) %></p>
			<p>[Record] ==> <%= @array_debug %></p>
			<p>[Recommend Avrg] ==> <%= @hash_rec_avrg %></p>
			<p>[All Avrg] ==> <%= @hash_all_avrg %></p>
			<p>[Record] ==> <%= @hash_rec_star %></p>
		</div>
	</div>
</main>
