<header>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-md bg-darkblue border-bottom">
            <div class="navbar-inner">
                <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navmenu1"
                  aria-controls="navmenu1"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu1">
                  <ul class="navbar-nav" style="font-weight:bold">
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/">ホーム</a></li>
                    <% if @result_displayed %>
                      <li  class="nav-item" style="margin-left:50px;">
                      <%= link_to "結果",
                      {
                        :controller => "results",
                        :action => "index",
                        :category => "laptop",
                      },
                    :class => "nav-item nav-link active"%>
                    </li>
                    <% end %>
                    <li  class="nav-item" style="margin-left:50px;"><a class="nav-item nav-link active" href="/articles/">記事</a></li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
    </div>
  </div>
</header>

<main>
<div class="container bg-white">
    <div class="row row-1">
        <div class="col-md-12">
            <h2><%= @item.name %></h2>
        </div>
    </div>
    <div class="row row-1">
        <div class="col-md-6">
            <h3>価格：￥<%= @item.price %></h3>
            <p style="font-size: 12px;">※価格が変更されている場合がございます。最新の情報はリンクをご確認ください。</p>
            <%= image_tag "#{@item.image}", class: "img-fluid" %>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">基本性能<br>
            <small style="font-size:0.6em;">※未回答の結果は表示されません。</small>
            </h3>
            <div class="row row-1 ml-2">
                <div class="blue-box"></div><p>おすすめのスペック</p>
            </div>
            <div class="row row-1 ml-2">
                <div class="orange-box"></div><p>商品のスペック</p>
            </div>
            <input id='c_1' name='c_1' type='hidden' value='値段'>
            <input id='c_2' name='c_2' type='hidden' value='スペック'>
            <input id='c_3' name='c_3' type='hidden' value='サイズ'>
            <input id='c_4' name='c_4' type='hidden' value='重量'>
            <input id='c_5' name='c_5' type='hidden' value='バッテリー時間'>
            <input id='c_v_1' name='c_v_1' type='hidden' value='<%= @hash_rec_star["price"]%>'>
            <input id='c_v_2' name='c_v_2' type='hidden' value='<%= @hash_rec_star["cpu_score"]%>'>
            <input id='c_v_3' name='c_v_3' type='hidden' value='<%= @hash_rec_star["inch"]%>'>
            <input id='c_v_4' name='c_v_4' type='hidden' value='<%= @hash_rec_star["weight"]%>'>
            <input id='c_v_5' name='c_v_5' type='hidden' value='<%= @hash_rec_star["uptime"]%>'>
            <canvas id="itemChart"></canvas>
            <table class="table table-hover table-condensed specm-table">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>おすすめ</th>
                        <th>商品</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>値段</td>
                        <td>
                        <% if @hash_rec_avrg["price"] %>
                          <%= @hash_rec_avrg["price"].round(-3).to_i %>円
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td><%= @item.price %>円</td>
                    </tr>
                    <tr>
                        <td>スペック(CPU)</td>
                        <td>
                        <% if @hash_rec_avrg["cpu_score"] %>
                          <%= @hash_rec_avrg["cpu_score"].round(-2).to_i %>
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td><%= @item.cpu_score %></td>
                    </tr>
                    <tr>
                        <td>サイズ</td>
                        <td>
                        <% if @hash_rec_avrg["inch"] %>
                          <%= @hash_rec_avrg["inch"].round(1) %> インチ
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td><%= @item.inch %> インチ</td>
                    </tr>
                    <tr>
                        <td>重量</td>
                        <td>
                        <% if @hash_rec_avrg["weight"] %>
                          <%= @hash_rec_avrg["weight"].round(3) %> kg
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td><%= @item.weight %> kg</td>
                    </tr>
                    <tr>
                        <td>バッテリー時間</td>
                        <td>
                        <% if @hash_rec_avrg["uptime"] %>
                          <%= @hash_rec_avrg["uptime"].round(1) %> 時間
                        <% else %>
                          未回答
                        <% end %>
                        </td>
                        <td><%= @item.uptime %> 時間</td>
                    </tr>
                </tbody>
            </table>
            <p><strong>カラー</strong></p>
            <% @items.each do |item| %>
            <% if item.item_id == @item.item_id %>
                <% disable = "disabled" %>
            <% end %>
                <%= link_to item.color,
                    {
                    :controller => "items",
                    :action => "show",
                    :item_id => item.item_id,
                    :category => @category,
                    :series => item.series,
                    },
                :class => "btn btn-sm btn-outline-secondary row-1 #{disable} "%>
            <% end %>
        </div>
    </div>
    <div class="row row-1">
        <div class="col-md-6">
            <h3 class="text-center">あなたに重要な項目</h3>
            <table class="table table-hover table-condensed specm-table">
                <thead>
                    <tr>
                        <th>重要項目</th>
                        <th>おすすめ</th>
                        <th>商品性能</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= @hash_rec_star.keys[0] %></td>
                        <td><%= @hash_rec_avrg[@hash_rec_star.keys[0]] %></td>
                        <td><%= @item.price %></td>
                    </tr>
                    <tr>
                        <td><%= @hash_rec_star.keys[1] %></td>
                        <td><%= @hash_rec_avrg[@hash_rec_star.keys[1]] %></td>
                        <td><%= @item.cpu_score %></td>
                    </tr>
                    <tr>
                        <td><%= @hash_rec_star.keys[2] %></td>
                        <td><%= @hash_rec_avrg[@hash_rec_star.keys[2]] %></td>
                        <td><%= @item.inch %></td>
                    </tr>
                    <tr>
                        <td><%= @hash_rec_star.keys[3] %></td>
                        <td><%= @hash_rec_avrg[@hash_rec_star.keys[3]] %></td>
                        <td><%= @item.weight %></td>
                    </tr>
                    <tr>
                        <td><%= @hash_rec_star.keys[4] %></td>
                        <td><%= @hash_rec_avrg[@hash_rec_star.keys[4]] %></td>
                        <td><%= @item.uptime %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">詳細</h3>
            <table class="table table-hover table-condensed item-table">
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>メーカー</td>
                        <td><%= @item.maker %></td>
                    </tr>
                    <tr>
                        <td>商品重量</td>
                        <td><%= @item.weight %>kg</td>
                    </tr>
                    <tr>
                        <td>カラー</td>
                        <td><%= @item.color %></td>
                    </tr>
                    <tr>
                        <td>サイズ</td>
                        <td><%= @item.inch %> インチ</td>
                    </tr>
                    <tr>
                        <td>CPU タイプ</td>
                        <td><%= @item.cpu_name %></td>
                    </tr>
                    <tr>
                        <td>CPU コア数</td>
                        <td><%= @item.cpu_core %> コア</td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td><%= @item.ram %> GB</td>
                    </tr>
                    <% if @item.ssd != 0 %>
                    <tr>
                        <td>SSD</td>
                        <td><%= @item.ssd %> GB</td>
                    </tr>
                    <% end %>
                    <% if @item.hdd != 0 %>
                    <tr>
                        <td>HDD</td>
                        <td><%= @item.hdd %> GB</td>
                    </tr>
                    <% end %>
                    <% if @item.emmc != 0 %>
                    <tr>
                        <td>EMMC</td>
                        <td><%= @item.emmc %> GB</td>
                    </tr>
                    <% end %>
                    <tr>
                        <td>バッテリー時間</td>
                        <td><%= @item.uptime %> 時間</td>
                    </tr>
                    <tr>
                        <td>OS</td>
                        <td><%= @item.os %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <%= @item.affiliate.html_safe %>
            <div class="row row-1">
                <%= link_to "結果に戻る", :back, :class => "btn btn-primary ml-3" %>
            </div>
        </div>
    </div>
</div>
</main>
