<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Sirius ～あなたが望む最高のアイテムを探します～</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="パソコン・スマホ・家電製品を中心に、本当にあなたが欲しいアイテムを10段階評価でおすすめします。あなたに特化したオリジナルの診断結果とアイテムを素早く知ることができます。">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138618230-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138618230-1');
    </script>

  </head>

  <body>
    <%= yield %>
    <footer>
      <div class="container-fluid bg-lightblue text-light">
        <div class="row">
          <div class="col-md-12">
            <div class="footer">
              <div class="row">
                <div class="col-md-8 footer-contents">
                  <p>Copyright Sirius All Rights Reserved</p>
                </div>
                <div class="col-md-4 footer-logo">
                  <p>★Sirius</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
